openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code Item Tag API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Item Tag
paths:
  /api/item-tags/{id}:
    get:
      tags:
      - Item Tag
      summary: Get an item category
      operationId: GetItemTag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: The item tag for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/TagDto'
        '404':
          description: Item tag did not exist
  /api/item-tags/list:
    post:
      tags:
      - Item Tag
      summary: Find item tags based on search parameters
      operationId: ListItemTag
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        description: The search parameters
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TagRequestFindParametersBase'
          application/json:
            schema:
              $ref: '#/components/schemas/TagRequestFindParametersBase'
          text/json:
            schema:
              $ref: '#/components/schemas/TagRequestFindParametersBase'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TagRequestFindParametersBase'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoTagDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoTagDto'
  /api/items/{itemId}/tags/{tagId}:
    post:
      tags:
      - Item Tag
      summary: Attach a tag to an item. This operation is idempotent - attaching a tag that is already present is a no-op.
      operationId: AttachItemTag
      parameters:
      - name: itemId
        in: path
        description: The id of the item to tag.
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: tagId
        in: path
        description: The id of the tag to attach. Please reference the /api/item-tags/list endpoint.
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: The item's resulting set of tags.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagDto'
        '400':
          description: The tag with that id does not exist or is not valid for items.
        '404':
          description: The item with that id did not exist.
      x-c4-mutation: true
      x-c4-required-permissions:
      - ItemsAndInventory-Items-Edit Item
    delete:
      tags:
      - Item Tag
      summary: Detach a tag from an item. This operation is idempotent - detaching a tag that is not present is a no-op.
      operationId: DetachItemTag
      parameters:
      - name: itemId
        in: path
        description: The id of the item to modify.
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: tagId
        in: path
        description: The id of the tag to detach.
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: The item's resulting set of tags.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagDto'
        '404':
          description: The item with that id did not exist.
      x-c4-mutation: true
      x-c4-required-permissions:
      - ItemsAndInventory-Items-Edit Item
  /api/items/{itemId}/tags:
    put:
      tags:
      - Item Tag
      summary: Replace the complete set of tags on an item. Tags currently on the item that are not in the request are removed.
      operationId: ReplaceItemTags
      parameters:
      - name: itemId
        in: path
        description: The id of the item to modify.
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        description: The complete desired set of tag ids.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ItemTagReplaceItemTagsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ItemTagReplaceItemTagsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ItemTagReplaceItemTagsDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ItemTagReplaceItemTagsDto'
        required: true
      responses:
        '200':
          description: The item's resulting set of tags.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagDto'
        '400':
          description: One or more tag ids did not exist or are not valid for items.
        '404':
          description: The item with that id did not exist.
      x-c4-mutation: true
      x-c4-required-permissions:
      - ItemsAndInventory-Items-Edit Item
components:
  schemas:
    CommonEnumTagTypeEnum:
      enum:
      - item
      - accountingCode
      - itemCategory
      - itemShape
      - itemMaterial
      - itemGrade
      - itemGauge
      - itemShippingContainer
      - itemClass
      - breakReasonCode
      - refundReasonCode
      - vendorOrderIssueCode
      - chartOfAccounts
      type: string
      description: What the tag is used for (can be many).
    TagDto:
      required:
      - id
      - name
      - style
      - types
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type: string
          description: Unique Id associated to the referenced object
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Descriptive name associated to the object
        style:
          $ref: '#/components/schemas/CommonEnumStyleEnum'
        description:
          maxLength: 200
          minLength: 1
          type: string
          description: Descriptive name associated to the object
          nullable: true
        types:
          type: array
          items:
            $ref: '#/components/schemas/CommonEnumTagTypeEnum'
          description: Represents where/how this tag is used.
        deleted:
          type: boolean
          description: Indicate if this tag has been deleted.
          nullable: true
      additionalProperties: false
      description: Represents a tag
    ItemTagReplaceItemTagsDto:
      required:
      - tagIds
      type: object
      properties:
        tagIds:
          type: array
          items:
            maxLength: 24
            minLength: 24
            type: string
          description: 'The complete desired set of tag identifiers for the item. Please reference the /api/item-tags/list endpoint.

            Duplicate ids are ignored. An empty set clears all tags from the item. At most

            FulcrumProduct.PublicApi.Dto.Item.Tag.ReplaceItemTagsDtoValidator.MAX_TAG_COUNT ids may be provided.'
      additionalProperties: false
      description: 'The full set of tags that should be associated to an item. Any tag currently on the item that is

        not present in FulcrumProduct.PublicApi.Dto.Item.Tag.ReplaceItemTagsDto.TagIds will be removed; any new id will be added.'
    TagRequestFindParametersBase:
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Filter tags based on their name.
          nullable: true
        ids:
          type: array
          items:
            type: string
          description: Filter tags based on matching ids.
          nullable: true
      additionalProperties: false
      description: Parameters used for searching/finding accounting codes.
    DtoPagedResultDtoTagDto:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TagDto'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    CommonEnumSortDirectionEnum:
      enum:
      - ascending
      - descending
      type: string
      description: Specify sorting direction.
    CommonEnumStyleEnum:
      enum:
      - primary
      - secondary
      - success
      - danger
      - warning
      - info
      - light
      - dark
      - connected
      type: string
      description: Style enum (for tags).
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
