openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code User Status API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: User Status
paths:
  /api/users/{userId}/status:
    get:
      tags:
      - User Status
      summary: Gets a status object for a user that displays various timer metrics (jobs/ops clocked into, whether on break, etc)
      operationId: GetUserStatus
      parameters:
      - name: userId
        in: path
        description: The user identifier
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatusDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UserStatusDto'
        '404':
          description: User did not exists
      x-c4-required-permissions:
      - System-Users-View Users
  /api/users/status:
    post:
      tags:
      - User Status
      summary: Gets a list of user status objects based on parameters
      operationId: ListUserStatus
      requestBody:
        description: The filter parameters
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ControllerUsersListUserStatus+UserStatusListParams'
          application/json:
            schema:
              $ref: '#/components/schemas/ControllerUsersListUserStatus+UserStatusListParams'
          text/json:
            schema:
              $ref: '#/components/schemas/ControllerUsersListUserStatus+UserStatusListParams'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ControllerUsersListUserStatus+UserStatusListParams'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserStatusDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserStatusDto'
      x-c4-required-permissions:
      - System-Users-View Users
components:
  schemas:
    DtoUserJobOpTimer:
      type: object
      properties:
        jobId:
          type: string
          description: The job id
          nullable: true
        jobName:
          type: string
          description: The job name
          nullable: true
        operationId:
          type: string
          description: The operation id
          nullable: true
        operationName:
          type: string
          description: The operation name
          nullable: true
        elapsedTimeInSeconds:
          type: number
          description: The time working on the operation in seconds
          format: double
        estimatedTimeToCompleteInSeconds:
          type: number
          description: The estimate time to complete this operation in seconds.
          format: double
      additionalProperties: false
      description: A job timer
    ControllerUsersListUserStatus+UserStatusListParams:
      type: object
      properties:
        userIds:
          type: array
          items:
            type: string
          description: The user identifiers
      additionalProperties: false
      description: The user status list params
    UserStatusDto:
      type: object
      properties:
        firstName:
          type: string
          description: The user's first name
          nullable: true
        lastName:
          type: string
          description: The user's last name
          nullable: true
        isOnBreak:
          type: boolean
          description: Whether user is on break.
        breakStartAtUtc:
          type: string
          description: Time the break started.
          format: date-time
          nullable: true
        elapsedBreakTimeInSeconds:
          type: number
          description: The elapsed break time in seconds.
          format: double
          nullable: true
          readOnly: true
        isClockedIn:
          type: boolean
          description: Whether the user is clocked in.
        clockedInAtUtc:
          type: string
          description: Date-time the user clocked in at.
          format: date-time
          nullable: true
        elapsedClockedInTimeInSeconds:
          type: number
          description: The elapsed clocked in time in seconds.
          format: double
          nullable: true
          readOnly: true
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/DtoUserJobOpTimer'
          description: The jobs the user is working on.
      additionalProperties: false
      description: A user object that contains information about the jobs/operations the user is clocked into, as well as if the user is on break.
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
