openapi: 3.2.0
info:
  title: Fulcrum Public NCRs API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: NCRs
paths:
  /api/ncrs/{ncrId}:
    get:
      tags:
      - NCRs
      summary: Get a specific NCR by id
      operationId: GetNcr
      parameters:
      - name: ncrId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: The NCR for the given id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NCRNcrDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/NCRNcrDto'
        '404':
          description: An NCR with that id does not exist.
      x-c4-required-permissions:
      - Quality-NCR-View NCR
  /api/ncrs/list:
    post:
      tags:
      - NCRs
      summary: Finds NCRs based on search parameters
      operationId: ListNCR
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/NCRRequestNcrListParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/NCRRequestNcrListParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/NCRRequestNcrListParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/NCRRequestNcrListParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoNCRNcrDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoNCRNcrDto'
      x-c4-required-permissions:
      - Quality-NCR-View NCR
components:
  schemas:
    CommonEnumSortDirectionEnum:
      enum:
      - ascending
      - descending
      type: string
      description: Specify sorting direction.
    CommonImpactDto:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The ID for this object.
          format: uuid
        operation:
          $ref: '#/components/schemas/CommonReferenceDto'
        workCenter:
          $ref: '#/components/schemas/CommonReferenceDto'
        scheduledEquipment:
          $ref: '#/components/schemas/CommonReferenceDto'
        job:
          $ref: '#/components/schemas/CommonReferenceDto'
        salesOrder:
          $ref: '#/components/schemas/CommonReferenceDto'
        quantityImpacted:
          type:
          - number
          - 'null'
          description: Quantity Impacted
          format: double
        incrementalCost:
          type:
          - number
          - 'null'
          description: Incremental Cost
          format: double
      additionalProperties: false
      description: Impact Dto.
    CommonReferenceDto:
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Unique Id associated to the referenced object
        name:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Descriptive name associated to the object
      additionalProperties: false
      description: Represents a reference to a document in a DB collection
    DtoPagedResultDtoNCRNcrDto:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/NCRNcrDto'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    NCRNcrDto:
      required:
      - cause
      - detail
      - id
      - number
      - type
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type: string
          description: Unique id associated to this entity.
        number:
          minimum: 0
          type: integer
          description: Number
          format: int32
        type:
          minLength: 1
          type: string
          description: NCR Type
        cause:
          minLength: 1
          type: string
          description: Cause
        detail:
          maxLength: 2000
          minLength: 1
          type: string
          description: Detail - required notes on the NCR
        departmentId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Department key identifier. Please reference /api/departments endpoint.
        department:
          $ref: '#/components/schemas/CommonReferenceDto'
        vendorId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Vendor key identifier. Please reference /api/vendors endpoint.
        vendor:
          $ref: '#/components/schemas/CommonReferenceDto'
        workCenters:
          type:
          - string
          - 'null'
          description: The work centers assigned to this NCR.
          readOnly: true
        scheduledEquipment:
          type:
          - string
          - 'null'
          description: Affected Equipment
          readOnly: true
        reason:
          type:
          - string
          - 'null'
          description: Reason
        operator:
          $ref: '#/components/schemas/CommonReferenceDto'
        status:
          type:
          - string
          - 'null'
          description: NCR Status
        quantityImpacted:
          type:
          - number
          - 'null'
          description: Quantity Impacted
          format: double
          readOnly: true
        incrementalCost:
          type:
          - number
          - 'null'
          description: Incremental Cost
          format: double
          readOnly: true
        createdUtc:
          type:
          - string
          - 'null'
          description: Created Date
          format: date-time
        completedUtc:
          type:
          - string
          - 'null'
          description: Completed Date
          format: date-time
        jobIds:
          type: array
          items:
            type: string
          description: Impacted Job IDs
          readOnly: true
        customFields:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: Custom fields that have been defined on this entity.
        completedBy:
          $ref: '#/components/schemas/CommonReferenceDto'
        analyzedBy:
          $ref: '#/components/schemas/CommonReferenceDto'
        impacts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommonImpactDto'
          description: Impact information.
      additionalProperties: false
      description: Represents an NCR
    NCRRequestNcrListParameters:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
          description: 'Filter NCRs by a specific status

            Accepted Values:

            Closed, Hold, New, Quality Review, Engineering Review'
        type:
          type:
          - string
          - 'null'
          description: Filter NCRs by a specific type. Available values are configured per tenant in Quality settings (NCR dropdowns).
        cause:
          type:
          - string
          - 'null'
          description: Filter NCRs by a specific cause. Available values are configured per tenant in Quality settings (NCR dropdowns).
        reason:
          type:
          - string
          - 'null'
          description: Filter NCRs by a specific reason. Available values are configured per tenant in Quality settings (NCR dropdowns).
        createdUtc:
          type:
          - string
          - 'null'
          description: Filter NCRs created after a certain date
          format: date-time
      additionalProperties: false
      description: Parameters used for searching NCRs
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
