openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code Job Part Line Item Full Routing API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Job Part Line Item Full Routing
paths:
  /api/jobs/{jobId}/routing/{routingId}/operations/{operationId}/ipts/{phase}/{iptId}:
    get:
      tags:
      - Job Part Line Item Full Routing
      summary: Gets a full routing operation in process tracking field for a job
      operationId: JobFullRoutingIptGet
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: routingId
        in: path
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      - name: operationId
        in: path
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      - name: phase
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DomainInProcessTrackingFieldCheckpointPhase'
      - name: iptId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemRoutingIptDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ItemRoutingIptDto'
      x-c4-required-permissions:
      - Jobs-Jobs-View Job
components:
  schemas:
    ItemRoutingIptDto:
      required:
      - fieldTypeId
      - id
      - label
      type: object
      properties:
        id:
          type: string
          description: Id of the in process tracking field
          format: uuid
        label:
          minLength: 1
          type: string
          description: Label describing the in process tracking field
        units:
          type: string
          description: The units used when this in process tracking field represents a number
          nullable: true
        fieldTypeId:
          minLength: 1
          type: string
          description: The id of the field type for this in process tracking field
        targetValue:
          type: number
          description: The target or ideal value of an in process tracking field response
          format: double
          nullable: true
        minimumValue:
          type: number
          description: The minimum acceptable value for a tracking field response
          format: double
          nullable: true
        maximumValue:
          type: number
          description: The maximum acceptable value for a tracking field response
          format: double
          nullable: true
        triggeringBooleanValue:
          type: boolean
          description: The target value for booleans. Typically Yes/No for proceeding with next checkpoint
          nullable: true
        triggeringDropdownValue:
          type: string
          description: The target value for multiple options
          nullable: true
        required:
          type: boolean
          description: Whether the in process tracking field requires a response
        restricted:
          type: boolean
          description: If true, only users with the appropriate permission will be allowed to save a response.
        firstArticle:
          type: boolean
          description: 'Only applies to the During phase.  If true (and Required), this field will prevent adding any

            completed items to inventory if target is not met.'
      additionalProperties: false
      description: An in process tracking field for a routing step
    DomainInProcessTrackingFieldCheckpointPhase:
      enum:
      - preOperation
      - duringOperation
      - postOperation
      type: string
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
