openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code Quote Tax Line Item API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Quote Tax Line Item
paths:
  /api/quotes/{quoteId}/tax-line-items:
    post:
      tags:
      - Quote Tax Line Item
      summary: Create a tax line item on a Quote
      operationId: CreateQuoteTaxLineItem
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/QuoteTaxLineItemCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteTaxLineItemCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/QuoteTaxLineItemCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/QuoteTaxLineItemCreateDto'
        required: true
      responses:
        '200':
          description: Tax line item added to Quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
        '400':
          description: Validation issues with input
      x-c4-mutation: true
      x-c4-required-permissions:
      - Orders-Quotes-Edit Quote
  /api/quotes/{quoteId}/tax-line-items/{lineItemId}:
    delete:
      tags:
      - Quote Tax Line Item
      summary: Delete a specific tax line item for a Quote
      operationId: DeleteQuoteTaxLineItem
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: lineItemId
        in: path
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      responses:
        '200':
          description: Success
        '204':
          description: Tax line item did not exist
        '404':
          description: Quote did not exist
    get:
      tags:
      - Quote Tax Line Item
      summary: Get a specific tax line item for a Quote
      operationId: GetQuoteTaxLineItem
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: lineItemId
        in: path
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      responses:
        '200':
          description: Tax line item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteTaxLineItemDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/QuoteTaxLineItemDto'
        '404':
          description: Quote or tax line items did not exist
      x-c4-required-permissions:
      - Orders-Quotes-View Quote
    put:
      tags:
      - Quote Tax Line Item
      summary: Update a specific tax line item for a Quote
      operationId: UpdateQuoteTaxLineItem
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: lineItemId
        in: path
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/QuoteTaxLineItemUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteTaxLineItemUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/QuoteTaxLineItemUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/QuoteTaxLineItemUpdateDto'
        required: true
      responses:
        '200':
          description: Tax line item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteTaxLineItemDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/QuoteTaxLineItemDto'
        '404':
          description: Quote or tax line items did not exist
      x-c4-mutation: true
      x-c4-required-permissions:
      - Orders-Quotes-Edit Quote
  /api/quotes/{quoteId}/tax-line-items/list:
    post:
      tags:
      - Quote Tax Line Item
      summary: Get a list of tax lines items for a Quote
      operationId: ListQuoteTaxLineItem
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: List of tax line items for the given Quote id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteTaxLineItemDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuoteTaxLineItemDto'
        '404':
          description: The Quote did not exist
      x-c4-required-permissions:
      - Orders-Quotes-View Quote
components:
  schemas:
    QuoteTaxLineItemDto:
      required:
      - accountingDetails
      - id
      type: object
      properties:
        id:
          maxLength: 36
          minLength: 36
          type: string
          description: Unique id associated to this entity.
        description:
          maxLength: 2000
          minLength: 0
          type: string
          description: Verbose description for this entity.
          nullable: true
        taxCodeId:
          maxLength: 24
          minLength: 24
          type: string
          description: Tax code key identifier. Please reference /api/tax-rates endpoint.
          nullable: true
        taxRate:
          minimum: 0
          type: number
          description: Tax code to use for this entity. If a FulcrumProduct.PublicApi.Dto.Quote.TaxLineItem.QuoteTaxLineItemDto.TaxCodeId is provided, the provided FulcrumProduct.PublicApi.Dto.Quote.TaxLineItem.QuoteTaxLineItemDto.TaxRate will supercede the defined tax rate.
          format: double
          nullable: true
        avalaraOptions:
          $ref: '#/components/schemas/DtoCommonAvalaraOptions'
        number:
          type: integer
          description: Line number
          format: int32
        accountingDetails:
          $ref: '#/components/schemas/CommonAccountingDetailsDto'
      additionalProperties: false
      description: Represents a tax line item on a Quote.
    QuoteTaxLineItemCreateDto:
      type: object
      properties:
        description:
          maxLength: 2000
          minLength: 0
          type: string
          description: Verbose description for this entity.
          nullable: true
        taxCodeId:
          maxLength: 24
          minLength: 24
          type: string
          description: 'Tax code key identifier. Please reference /api/tax-rates endpoint.

            If FulcrumProduct.PublicApi.Dto.Quote.TaxLineItem.QuoteTaxLineItemCreateDto.AvalaraOptions is provided, FulcrumProduct.PublicApi.Dto.Quote.TaxLineItem.QuoteTaxLineItemCreateDto.TaxCodeId will be ignored.'
          nullable: true
        taxRate:
          minimum: 0
          type: number
          description: Tax rate to use for this entity. If a FulcrumProduct.PublicApi.Dto.Quote.TaxLineItem.QuoteTaxLineItemCreateDto.TaxCodeId is provided, the provided FulcrumProduct.PublicApi.Dto.Quote.TaxLineItem.QuoteTaxLineItemCreateDto.TaxRate will supercede the defined tax rate.
          format: double
          nullable: true
        avalaraOptions:
          $ref: '#/components/schemas/DtoCommonAvalaraOptions'
      additionalProperties: false
      description: Represents a tax line item on a quote.
    CommonAddressDto:
      required:
      - address1
      - city
      - postalCode
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Name of the address (Bob's Shipping, Primary, Reno Warehouse, etc).
          nullable: true
        address1:
          maxLength: 200
          minLength: 1
          type: string
          description: Primary address line.
        address2:
          maxLength: 200
          minLength: 1
          type: string
          description: Second address line.
          nullable: true
        address3:
          maxLength: 200
          minLength: 1
          type: string
          description: Third address line.
          nullable: true
        city:
          maxLength: 200
          minLength: 1
          type: string
          description: Address city
        stateProvince:
          maxLength: 200
          minLength: 1
          type: string
          description: Address state/province.
          nullable: true
        postalCode:
          maxLength: 200
          minLength: 1
          type: string
          description: Postal/zip code.
        country:
          maxLength: 200
          minLength: 1
          type: string
          description: Country identifier.
          nullable: true
        phone:
          type: string
          description: Phone number.
          format: tel
          nullable: true
        email:
          type: string
          description: Email address
          format: email
          nullable: true
      additionalProperties: false
      description: Address definition
    QuoteTaxLineItemUpdateDto:
      type: object
      properties:
        description:
          maxLength: 2000
          minLength: 0
          type: string
          description: Verbose description for this entity.
          nullable: true
        taxCodeId:
          maxLength: 24
          minLength: 24
          type: string
          description: 'Tax code key identifier. Please reference /api/tax-rates endpoint.

            If FulcrumProduct.PublicApi.Dto.Quote.TaxLineItem.QuoteTaxLineItemUpdateDto.AvalaraOptions is provided, FulcrumProduct.PublicApi.Dto.Quote.TaxLineItem.QuoteTaxLineItemUpdateDto.TaxCodeId will be ignored.'
          nullable: true
        taxRate:
          minimum: 0
          type: number
          description: Tax rate to use for this entity. If a FulcrumProduct.PublicApi.Dto.Quote.TaxLineItem.QuoteTaxLineItemUpdateDto.TaxCodeId is provided, the provided FulcrumProduct.PublicApi.Dto.Quote.TaxLineItem.QuoteTaxLineItemUpdateDto.TaxRate will supercede the defined tax rate.
          format: double
          nullable: true
        avalaraOptions:
          $ref: '#/components/schemas/DtoCommonAvalaraOptions'
      additionalProperties: false
      description: Represents a tax line item on a quote.
    DtoCommonAvalaraOptions:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/CommonAddressDto'
      additionalProperties: false
      description: Options for use with Avalara (if enabled).
    CreatedResponseDto:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: The id of the created record
      additionalProperties: false
      description: Response for a created record
    CommonAccountingDetailsDto:
      type: object
      properties:
        classId:
          maxLength: 24
          minLength: 24
          type: string
          description: Item class identifier. Please reference /api/item-classes endpoint.
          nullable: true
        incomeAccountId:
          maxLength: 24
          minLength: 24
          type: string
          description: Income account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
          nullable: true
        assetAccountId:
          maxLength: 24
          minLength: 24
          type: string
          description: Asset account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
          nullable: true
        expenseAccountId:
          maxLength: 24
          minLength: 24
          type: string
          description: Expense account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
          nullable: true
        cogsAccountId:
          maxLength: 24
          minLength: 24
          type: string
          description: COGS account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
          nullable: true
      additionalProperties: false
      description: An object that contains all accounting details.
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
