openapi: 3.2.0
info:
  title: Fulcrum Public Reporting API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Reporting
paths:
  /api/reporting/inventory/list:
    post:
      tags:
      - Reporting
      summary: Lists report-ready on-hand inventory rows from the inventory reporting view…
      operationId: ListInventoryReport
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DtoReportingInventoryReportFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/DtoReportingInventoryReportFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/DtoReportingInventoryReportFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DtoReportingInventoryReportFilter'
      responses:
        '200':
          description: A page of inventory report rows with the total matching count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingInventoryReportRow'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingInventoryReportRow'
        '403':
          description: The viewer lacks the View Inventory permission.
      x-c4-required-permissions:
      - ItemsAndInventory-Items-View Inventory
  /api/reporting/invoice/list:
    post:
      tags:
      - Reporting
      summary: Lists report-ready invoice-line rows from the invoice reporting view, including…
      operationId: ListInvoiceReport
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DtoReportingInvoiceReportFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/DtoReportingInvoiceReportFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/DtoReportingInvoiceReportFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DtoReportingInvoiceReportFilter'
      responses:
        '200':
          description: A page of invoice report rows with the total matching count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingInvoiceReportRow'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingInvoiceReportRow'
        '403':
          description: The viewer lacks the View Invoices permission.
      x-c4-required-permissions:
      - Invoicing-Invoicing-View Invoices
  /api/reporting/job-activity-by-operator/list:
    post:
      tags:
      - Reporting
      summary: Lists report-ready per-operator operation rows from the…
      operationId: ListJobActivityByOperatorReport
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DtoReportingJobActivityByOperatorReportFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/DtoReportingJobActivityByOperatorReportFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/DtoReportingJobActivityByOperatorReportFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DtoReportingJobActivityByOperatorReportFilter'
      responses:
        '200':
          description: A page of job-activity-by-operator report rows with the total matching count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingJobActivityByOperatorReportRow'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingJobActivityByOperatorReportRow'
        '403':
          description: The viewer lacks one of the required permissions (View Job and View Time Management).
      x-c4-required-permissions:
      - Jobs-Jobs-View Job
  /api/reporting/job-activity/list:
    post:
      tags:
      - Reporting
      summary: Lists report-ready job-operation rows from the job-activity reporting view…
      operationId: ListJobActivityReport
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DtoReportingJobActivityReportFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/DtoReportingJobActivityReportFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/DtoReportingJobActivityReportFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DtoReportingJobActivityReportFilter'
      responses:
        '200':
          description: A page of job-activity report rows with the total matching count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingJobActivityReportRow'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingJobActivityReportRow'
        '403':
          description: The viewer lacks the View Job permission.
      x-c4-required-permissions:
      - Jobs-Jobs-View Job
  /api/reporting/quote/list:
    post:
      tags:
      - Reporting
      summary: Lists report-ready quote rows from the quote reporting view, including totals…
      operationId: ListQuoteReport
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DtoReportingQuoteReportFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/DtoReportingQuoteReportFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/DtoReportingQuoteReportFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DtoReportingQuoteReportFilter'
      responses:
        '200':
          description: A page of quote report rows with the total matching count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingQuoteReportRow'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingQuoteReportRow'
        '403':
          description: The viewer lacks the View Quote permission.
      x-c4-required-permissions:
      - Orders-Quotes-View Quote
  /api/reporting/sales-order-lines/list:
    post:
      tags:
      - Reporting
      summary: Lists report-ready sales-order line rows from the sales-order line-items…
      operationId: ListSalesOrderLinesReport
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DtoReportingSalesOrderLinesReportFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/DtoReportingSalesOrderLinesReportFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/DtoReportingSalesOrderLinesReportFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DtoReportingSalesOrderLinesReportFilter'
      responses:
        '200':
          description: A page of sales-order line report rows with the total matching count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingSalesOrderLinesReportRow'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingSalesOrderLinesReportRow'
        '403':
          description: The viewer lacks one of the required permissions (View Sales Order, View Customer, View Job, View Invoices, and View Shipments).
      x-c4-required-permissions:
      - Orders-SalesOrders-View Sales Order
  /api/reporting/shipping/list:
    post:
      tags:
      - Reporting
      summary: Lists report-ready shipment line rows from the shipping reporting view…
      operationId: ListShippingReport
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DtoReportingShippingReportFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/DtoReportingShippingReportFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/DtoReportingShippingReportFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DtoReportingShippingReportFilter'
      responses:
        '200':
          description: A page of shipping report rows with the total matching count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingShippingReportRow'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingShippingReportRow'
        '403':
          description: The viewer lacks the View Shipments permission.
      x-c4-required-permissions:
      - Shipping-Shipping-View Shipments
  /api/reporting/time-clock/list:
    post:
      tags:
      - Reporting
      summary: Lists report-ready time-clock rows from the time-clock reporting view…
      operationId: ListTimeClockReport
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DtoReportingTimeClockReportFilter'
          application/json:
            schema:
              $ref: '#/components/schemas/DtoReportingTimeClockReportFilter'
          text/json:
            schema:
              $ref: '#/components/schemas/DtoReportingTimeClockReportFilter'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DtoReportingTimeClockReportFilter'
      responses:
        '200':
          description: A page of time-clock report rows with the total matching count.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingTimeClockReportRow'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoDtoReportingTimeClockReportRow'
        '403':
          description: The viewer lacks the View Time Management permission.
      x-c4-required-permissions:
      - Time-Time-View Time Management
components:
  schemas:
    DtoReportingInventoryReportFilter:
      type: object
      properties:
        itemNumber:
          type:
          - string
          - 'null'
          description: 'Optional exact-match filter on the item number (the user-facing item identifier). Null means no

            item filter.'
        locationName:
          type:
          - string
          - 'null'
          description: Optional exact-match filter on the inventory location name. Null means no location filter.
        category:
          type:
          - string
          - 'null'
          description: Optional exact-match filter on the item category. Null means no category filter.
      additionalProperties: false
      description: 'Constrained filter for the inventory reporting list endpoint. Every field maps to a fixed,

        server-controlled column; values are always bound as Dapper parameters and never concatenated

        into SQL.'
    DtoReportingJobActivityReportRow:
      type: object
      properties:
        jobName:
          type:
          - string
          - 'null'
          description: Job name (typically the user-facing job identifier).
        item:
          type:
          - string
          - 'null'
          description: Item number being produced.
        itemDescription:
          type:
          - string
          - 'null'
          description: Item description.
        itemRevision:
          type:
          - string
          - 'null'
          description: Item revision when revision tracking is enabled.
        itemTags:
          type:
          - string
          - 'null'
          description: Comma-separated descriptive tags from the item.
        productionDueDate:
          type:
          - string
          - 'null'
          description: Job's production due date.
          format: date-time
        salesOrderNumber:
          type:
          - string
          - 'null'
          description: Source sales order number, when the job is SO-driven.
        customer:
          type:
          - string
          - 'null'
          description: Customer name from the sales order.
        customerPurchaseOrder:
          type:
          - string
          - 'null'
          description: Customer's PO number from the sales order.
        jobPriority:
          type:
          - string
          - 'null'
          description: Job priority value (High, Medium, or Low).
        jobStatus:
          type:
          - string
          - 'null'
          description: Job lifecycle status (Approved, Scheduled, In Progress, Complete, etc.).
        jobScheduledStart:
          type:
          - string
          - 'null'
          description: Scheduled start time of the job.
          format: date-time
        jobScheduledEnd:
          type:
          - string
          - 'null'
          description: Scheduled end time of the job.
          format: date-time
        jobLateStatus:
          type:
          - string
          - 'null'
          description: Late classification for the job (Late or On Time).
        jobPlannedQty:
          type:
          - number
          - 'null'
          description: Planned quantity for the job.
          format: double
        uoM:
          type:
          - string
          - 'null'
          description: Unit of measure for the item being produced.
        department:
          type:
          - string
          - 'null'
          description: Department containing the operation's scheduled work center.
        shift:
          type:
          - string
          - 'null'
          description: Shift assigned to the operation.
        operationName:
          type:
          - string
          - 'null'
          description: Operation name within the routing.
        scheduledEquipment:
          type:
          - string
          - 'null'
          description: Equipment scheduled for this operation.
        operationNumber:
          type:
          - integer
          - 'null'
          description: Operation sequence number within the routing.
          format: int32
        operationStatus:
          type:
          - string
          - 'null'
          description: Operation lifecycle status (Ready, Pending, Running, Paused, Complete).
        setupComplete:
          type:
          - string
          - 'null'
          description: '"TRUE" when the setup phase is complete, otherwise "FALSE".'
        runComplete:
          type:
          - string
          - 'null'
          description: '"TRUE" when the run phase is complete, otherwise "FALSE".'
        estimatedSetupTimeHours:
          type:
          - number
          - 'null'
          description: Estimated setup hours for this operation.
          format: double
        estimatedRunTimeHours:
          type:
          - number
          - 'null'
          description: Estimated run hours for this operation.
          format: double
        estimatedMachineTimeHours:
          type:
          - number
          - 'null'
          description: Estimated machine hours for this operation.
          format: double
        unitsCompletedOnOperation:
          type:
          - number
          - 'null'
          description: Quantity completed on this operation so far.
          format: double
        unitsCompletedOnJob:
          type:
          - number
          - 'null'
          description: Quantity completed on the job overall.
          format: double
        isOutsideProcessing:
          type:
          - string
          - 'null'
          description: '"Outside Processing" when this operation is performed by an outside vendor, otherwise empty.'
        outsideProcessingLeadTime:
          type:
          - integer
          - 'null'
          description: Configured lead time for outside-processing operations.
          format: int32
        isRework:
          type:
          - boolean
          - 'null'
          description: True when this operation row represents rework rather than original production.
        totalOperationTimeHours:
          type:
          - number
          - 'null'
          description: Total elapsed operator time on this operation (across all phases).
          format: double
        totalMachineTimeHours:
          type:
          - number
          - 'null'
          description: Total elapsed machine time on this operation.
          format: double
        operationScheduledStart:
          type:
          - string
          - 'null'
          description: Scheduled start time for this operation.
          format: date-time
        actualStart:
          type:
          - string
          - 'null'
          description: Actual start timestamp (from timer data).
          format: date-time
        lastStoppedOn:
          type:
          - string
          - 'null'
          description: Timestamp of the most recent timer stop.
          format: date-time
        latestUser:
          type:
          - string
          - 'null'
          description: Name of the most recent operator to work on the operation.
        scheduledEnd:
          type:
          - string
          - 'null'
          description: Scheduled end time for this operation.
          format: date-time
      additionalProperties: false
      description: 'One row of the pre-joined job-activity reporting view

        (`rpt.View_ExposedReportingData_JobActivity`): one operation per item-to-make per job, carrying

        schedule, timer, completion-progress, and routing context. Property names are clean identifiers; the

        query aliases each source column (e.g. `[Production Due Date]`) to the matching property so

        Dapper can bind it.'
    DtoReportingQuoteReportRow:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: Internal stable identifier for the quote.
        number:
          type:
          - integer
          - 'null'
          description: Numeric quote number.
          format: int32
        createdUtc:
          type:
          - string
          - 'null'
          description: UTC timestamp the quote was created.
          format: date-time
        customerName:
          type:
          - string
          - 'null'
          description: Customer name on the quote.
        priority:
          type:
          - string
          - 'null'
          description: Quote priority value.
        salesPersonName:
          type:
          - string
          - 'null'
          description: Name of the assigned salesperson.
        expirationDate:
          type:
          - string
          - 'null'
          description: Quote expiration date. (Source column name `ExipirationDate` is a typo preserved in the view definition.)
          format: date-time
        quotedDate:
          type:
          - string
          - 'null'
          description: Date the quote was sent to the customer.
          format: date-time
        closedDate:
          type:
          - string
          - 'null'
          description: Date the quote was closed (won, lost, or expired).
          format: date-time
        status:
          type:
          - string
          - 'null'
          description: Quote lifecycle status.
        publicNote:
          type:
          - string
          - 'null'
          description: Public-facing note attached to the quote.
        discount:
          type:
          - number
          - 'null'
          description: Total discount amount applied to the quote.
          format: double
        totalInPrimaryCurrency:
          type:
          - number
          - 'null'
          description: Quote total converted to the tenant's primary currency.
          format: double
        totalWithTax:
          type:
          - number
          - 'null'
          description: Quote total including tax.
          format: double
        cost:
          type:
          - number
          - 'null'
          description: Estimated total cost across all quote lines.
          format: double
      additionalProperties: false
      description: 'One row of the pre-joined quote reporting view (`rpt.View_ExposedReportingData_Quote`): one

        quote, carrying totals, cost, status, and lifecycle dates. Property names are clean identifiers; the

        query aliases each source column (e.g. `[QuotedDate]`) to the matching property so Dapper can

        bind it.'
    DtoPagedResultDtoDtoReportingShippingReportRow:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DtoReportingShippingReportRow'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    DtoPagedResultDtoDtoReportingQuoteReportRow:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DtoReportingQuoteReportRow'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    DtoPagedResultDtoDtoReportingInvoiceReportRow:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DtoReportingInvoiceReportRow'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    DtoReportingShippingReportRow:
      type: object
      properties:
        shipmentName:
          type:
          - string
          - 'null'
          description: Shipment identifier / name.
        status:
          type:
          - string
          - 'null'
          description: Shipment lifecycle status.
        packingStatus:
          type:
          - string
          - 'null'
          description: Packing status (e.g. Not Packed, Partially Packed, Packed).
        shipmentType:
          type:
          - string
          - 'null'
          description: Shipment classification.
        shipByDate:
          type:
          - string
          - 'null'
          description: Date the shipment must ship by.
          format: date-time
        shippedDate:
          type:
          - string
          - 'null'
          description: Actual ship date; null if not yet shipped.
          format: date-time
        isLate:
          type:
          - integer
          - 'null'
          description: 1 when Shipped Date is after Ship By Date, otherwise 0. (Computed 1/0 flag in the view.)
          format: int32
        isOnTime:
          type:
          - integer
          - 'null'
          description: 1 when Shipped Date is on or before Ship By Date, otherwise 0. (Computed 1/0 flag in the view.)
          format: int32
        daysLate:
          type:
          - integer
          - 'null'
          description: Days between Ship By Date and Shipped Date (negative when shipped early).
          format: int32
        trackingNumber:
          type:
          - string
          - 'null'
          description: Carrier tracking number, when supplied.
        recipientName:
          type:
          - string
          - 'null'
          description: Customer / recipient name.
        recipientCustomerCode:
          type:
          - string
          - 'null'
          description: Customer code for the recipient.
        shipToName:
          type:
          - string
          - 'null'
          description: Ship-to contact name.
        shipToCity:
          type:
          - string
          - 'null'
          description: Ship-to city.
        shipToState:
          type:
          - string
          - 'null'
          description: Ship-to state / province.
        shipToCountry:
          type:
          - string
          - 'null'
          description: Ship-to country.
        customerPONumber:
          type:
          - string
          - 'null'
          description: Customer's PO number from the source sales order.
        purchaseOrder:
          type:
          - string
          - 'null'
          description: Linked purchase order number, when this shipment is PO-driven.
        salesOrder:
          type:
          - string
          - 'null'
          description: Linked sales order number, when this shipment is SO-driven.
        shippedByName:
          type:
          - string
          - 'null'
          description: Name of the user who recorded the shipment.
        shippingCost:
          type:
          - number
          - 'null'
          description: Cost of shipping (internal).
          format: double
        shippingCharge:
          type:
          - number
          - 'null'
          description: Charge billed to the customer for shipping.
          format: double
        shippingCostNeedsInvoice:
          type:
          - boolean
          - 'null'
          description: True when the shipping cost has not yet been invoiced to the customer.
        shippingMethod:
          type:
          - string
          - 'null'
          description: Carrier / shipping method used.
        itemName:
          type:
          - string
          - 'null'
          description: Item name on the shipment line.
        description:
          type:
          - string
          - 'null'
          description: Item description on the shipment line.
        itemCategory:
          type:
          - string
          - 'null'
          description: Category from the line's item.
        accountingCodeName:
          type:
          - string
          - 'null'
          description: Accounting code mapped to the line's item.
        accountingClass:
          type:
          - string
          - 'null'
          description: Accounting classification for the line's account.
        itemTags:
          type:
          - string
          - 'null'
          description: Comma-separated tags from the line's item.
        quantityShipped:
          type:
          - number
          - 'null'
          description: Quantity shipped on this line.
          format: double
        totalQtyOrdered:
          type:
          - number
          - 'null'
          description: Total quantity ordered on the source SO line.
          format: double
        totalQtyShipped:
          type:
          - number
          - 'null'
          description: Total quantity shipped across all shipments for the source SO line.
          format: double
        unitPrice:
          type:
          - number
          - 'null'
          description: Per-unit price on the source SO line.
          format: double
        quantityToShip:
          type:
          - number
          - 'null'
          description: Quantity remaining to ship on the source SO line.
          format: double
        totalDollarsOrdered:
          type:
          - number
          - 'null'
          description: Extended dollar value of the source SO line.
          format: double
        dollarsShipped:
          type:
          - number
          - 'null'
          description: Extended dollar value already shipped for the source SO line.
          format: double
        dollarsUnshipped:
          type:
          - number
          - 'null'
          description: Extended dollar value remaining to ship.
          format: double
        quantityInvoiced:
          type:
          - number
          - 'null'
          description: Total quantity invoiced for the source SO line.
          format: double
        unitOfMeasureName:
          type:
          - string
          - 'null'
          description: Unit of measure on the line.
        quantityPacked:
          type:
          - number
          - 'null'
          description: Quantity packed on this shipment line.
          format: double
        linePackingStatus:
          type:
          - string
          - 'null'
          description: Per-line packing status.
        isReady:
          type:
          - boolean
          - 'null'
          description: True when the line is ready to ship.
        openJobs:
          type:
          - string
          - 'null'
          description: Comma-separated list of open jobs producing this line's item.
        qtyShippedLate:
          type:
          - number
          - 'null'
          description: Quantity shipped after Ship By Date.
          format: double
        dollarsShippedLate:
          type:
          - number
          - 'null'
          description: Extended dollar value shipped late.
          format: double
        qtyShippedOnTime:
          type:
          - number
          - 'null'
          description: Quantity shipped on or before Ship By Date.
          format: double
        dollarsShippedOnTime:
          type:
          - number
          - 'null'
          description: Extended dollar value shipped on time.
          format: double
        createdByName:
          type:
          - string
          - 'null'
          description: User who created the shipment record.
        modifiedByName:
          type:
          - string
          - 'null'
          description: Most recent user to modify the shipment record.
      additionalProperties: false
      description: 'One row of the pre-joined shipping reporting view (`rpt.View_ExposedReportingData_Shipping`):

        one shipment line, carrying the line''s quantities and the source sales-order line''s pre-computed

        dollar values. Property names are clean identifiers; the query aliases each source column

        (e.g. `[$ Shipped]`) to the matching property so Dapper can bind it.'
    DtoReportingJobActivityReportFilter:
      type: object
      properties:
        operationStatus:
          type:
          - string
          - 'null'
          description: 'Optional exact-match filter on the operation lifecycle status (e.g. "Running", "Complete"). Null

            means no operation-status filter.'
        jobStatus:
          type:
          - string
          - 'null'
          description: 'Optional exact-match filter on the job lifecycle status (e.g. "In Progress", "Complete"). Null

            means no job-status filter.'
        department:
          type:
          - string
          - 'null'
          description: 'Optional exact-match filter on the department containing the operation''s scheduled work center.

            Null means no department filter.'
        productionDueDateFrom:
          type:
          - string
          - 'null'
          description: Inclusive lower bound applied to the job's Production Due Date. Null means no lower bound.
          format: date-time
        productionDueDateTo:
          type:
          - string
          - 'null'
          description: 'Inclusive upper bound applied to the job''s Production Due Date (the whole `to` day is

            included). Null means no upper bound.'
          format: date-time
      additionalProperties: false
      description: 'Constrained filter for the job-activity reporting list endpoint. Every field maps to a fixed,

        server-controlled column; values are always bound as Dapper parameters and never concatenated

        into SQL.'
    DtoPagedResultDtoDtoReportingJobActivityReportRow:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DtoReportingJobActivityReportRow'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    DtoPagedResultDtoDtoReportingJobActivityByOperatorReportRow:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DtoReportingJobActivityByOperatorReportRow'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    DtoReportingTimeClockReportFilter:
      type: object
      properties:
        startedFrom:
          type:
          - string
          - 'null'
          description: Inclusive lower bound applied to the entry's clock-in time (Started). Null means no lower bound.
          format: date-time
        startedTo:
          type:
          - string
          - 'null'
          description: 'Inclusive upper bound applied to the entry''s clock-in time (Started); the whole `to` day is

            included. Null means no upper bound.'
          format: date-time
        employee:
          type:
          - string
          - 'null'
          description: Optional exact-match filter on the operator / employee name. Null means no employee filter.
        type:
          type:
          - string
          - 'null'
          description: Optional exact-match filter on the timer-entry type (ClockIn or Break). Null means no type filter.
      additionalProperties: false
      description: 'Constrained filter for the time-clock reporting list endpoint. Every field maps to a fixed,

        server-controlled column; values are always bound as Dapper parameters and never concatenated

        into SQL.'
    DtoPagedResultDtoDtoReportingSalesOrderLinesReportRow:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DtoReportingSalesOrderLinesReportRow'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    DtoReportingTimeClockReportRow:
      type: object
      properties:
        employee:
          type:
          - string
          - 'null'
          description: Operator / employee name.
        overridden:
          type:
          - string
          - 'null'
          description: '"Yes" when the entry''s start or stop time was manually overridden, otherwise "No".'
        type:
          type:
          - string
          - 'null'
          description: Timer-entry type classification (ClockIn or Break).
        started:
          type:
          - string
          - 'null'
          description: Clock-in timestamp.
          format: date-time
        stopped:
          type:
          - string
          - 'null'
          description: Clock-out timestamp; null if not yet stopped.
          format: date-time
        shiftHoursWorked:
          type:
          - number
          - 'null'
          description: Computed hours between Started and Stopped.
          format: double
        reason:
          type:
          - string
          - 'null'
          description: Reason code for the entry, when applicable.
        clockCode:
          type:
          - string
          - 'null'
          description: Clock-code tag attached to the entry, when applicable.
        createdByName:
          type:
          - string
          - 'null'
          description: User who created the entry.
        modifiedByName:
          type:
          - string
          - 'null'
          description: Most recent user to modify the entry.
        startedOnOverrideByName:
          type:
          - string
          - 'null'
          description: User who overrode the start time, when applicable.
        stoppedOnOverrideByName:
          type:
          - string
          - 'null'
          description: User who overrode the stop time, when applicable.
      additionalProperties: false
      description: 'One row of the pre-joined time-clock reporting view (`rpt.View_ExposedReportingData_TimeClock`):

        one timer entry (clock-in or break), carrying clock-in/clock-out times, computed shift hours, reason

        and clock codes, and override-audit context. Property names are clean identifiers; the query aliases

        each source column (e.g. `[Shift Hours Worked]`) to the matching property so Dapper can bind it.'
    DtoReportingShippingReportFilter:
      type: object
      properties:
        shipByDateFrom:
          type:
          - string
          - 'null'
          description: Inclusive lower bound applied to the shipment's Ship By Date. Null means no lower bound.
          format: date-time
        shipByDateTo:
          type:
          - string
          - 'null'
          description: 'Inclusive upper bound applied to the shipment''s Ship By Date (the whole `to` day is

            included). Null means no upper bound.'
          format: date-time
        status:
          type:
          - string
          - 'null'
          description: 'Optional exact-match filter on the shipment lifecycle status (e.g. "Shipped", "Open"). Null

            means no status filter.'
      additionalProperties: false
      description: 'Constrained filter for the shipping reporting list endpoint. Every field maps to a fixed,

        server-controlled column; values are always bound as Dapper parameters and never concatenated

        into SQL.'
    DtoReportingInvoiceReportRow:
      type: object
      properties:
        company:
          type:
          - string
          - 'null'
          description: Issuing company / tenant company name.
        invoiceNumber:
          type:
          - integer
          - 'null'
          description: Numeric invoice identifier assigned by Fulcrum.
          format: int32
        invoiceStatus:
          type:
          - string
          - 'null'
          description: Lifecycle state — typically New, Approved, Issued, Paid.
        salesOrderNumber:
          type:
          - integer
          - 'null'
          description: Number identifying the sales order being invoiced.
          format: int32
        customerPurchaseOrder:
          type:
          - string
          - 'null'
          description: Customer's PO number recorded on the sales order.
        customerName:
          type:
          - string
          - 'null'
          description: Display name of the billed customer.
        salesPerson:
          type:
          - string
          - 'null'
          description: Name of the salesperson associated with the sales order.
        isDeposit:
          type:
          - string
          - 'null'
          description: Set to the string "Deposit" when the row represents a deposit; null otherwise.
        createdDate:
          type:
          - string
          - 'null'
          description: UTC timestamp when the invoice record was created.
          format: date-time
        lineType:
          type:
          - string
          - 'null'
          description: Discriminator — Part, Shipping, Fee, Deposit, Discount, Refund, Tax, or NA.
        lineItemName:
          type:
          - string
          - 'null'
          description: Item name (for part lines) or descriptive label for non-part lines.
        customerPartNumber:
          type:
          - string
          - 'null'
          description: Customer's part number for this line, when supplied.
        customerPartDescription:
          type:
          - string
          - 'null'
          description: Customer's description for this line, when supplied.
        itemDescription:
          type:
          - string
          - 'null'
          description: Internal item description for the line.
        accountingCode:
          type:
          - string
          - 'null'
          description: Accounting code mapped to the invoice line.
        itemTags:
          type:
          - string
          - 'null'
          description: Comma-separated list of descriptive tags from the item.
        issuedDate:
          type:
          - string
          - 'null'
          description: Date the invoice was issued. NULL for drafts.
          format: date-time
        dueDate:
          type:
          - string
          - 'null'
          description: Date payment is due per the invoice's payment terms.
          format: date-time
        salesOrderTotal:
          type:
          - number
          - 'null'
          description: Total of the source sales order (may differ from invoice total).
          format: double
        unitPrice:
          type:
          - number
          - 'null'
          description: Per-unit price for the line (varies by Line Type; negative for discounts).
          format: double
        quantityInvoiced:
          type:
          - number
          - 'null'
          description: Quantity billed on this line.
          format: double
        invoiceAmount:
          type:
          - number
          - 'null'
          description: Extended amount for this line before tax.
          format: double
        isTaxable:
          type:
          - integer
          - 'null'
          description: 1 when the line is subject to taxation, otherwise 0. (Computed 1/0 flag in the view.)
          format: int32
        taxCode:
          type:
          - string
          - 'null'
          description: Descriptive name of the tax code applied to the line, when applicable.
        taxTotal:
          type:
          - number
          - 'null'
          description: Equivalent to Invoice Amount for tax line items; 0 otherwise.
          format: double
        invoiceTotalWithoutTax:
          type:
          - number
          - 'null'
          description: Invoice-level total excluding tax (repeats on every line of the invoice).
          format: double
        invoiceTotalWithTax:
          type:
          - number
          - 'null'
          description: Invoice-level total including tax (repeats on every line of the invoice).
          format: double
        paidDate:
          type:
          - string
          - 'null'
          description: Date the invoice was marked paid; null while open.
          format: date-time
        late:
          type:
          - integer
          - 'null'
          description: 1 when the invoice is past Due Date and unpaid or was paid late, otherwise 0. (Computed 1/0 flag in the view.)
          format: int32
        daysLate:
          type:
          - integer
          - 'null'
          description: Days between Due Date and either Paid Date (if paid) or today (if open). 0 if not yet due.
          format: int32
        customerCurrencyCode:
          type:
          - string
          - 'null'
          description: ISO currency code of the customer's billing currency.
        shipmentName:
          type:
          - string
          - 'null'
          description: Concatenated names of shipments invoiced on this line (comma-separated).
        shipmentsLine1s:
          type:
          - string
          - 'null'
          description: Together with ShipmentsLine2s, concatenated shipment address values (comma-separated).
        shipmentsLine2s:
          type:
          - string
          - 'null'
          description: Together with ShipmentsLine1s, concatenated shipment address values (comma-separated).
        shipmentsCities:
          type:
          - string
          - 'null'
          description: Concatenated shipment cities (comma-separated).
        shipmentsStates:
          type:
          - string
          - 'null'
          description: Concatenated shipment state/provinces (comma-separated).
        shipmentsCountries:
          type:
          - string
          - 'null'
          description: Concatenated shipment countries (comma-separated).
        accountingClass:
          type:
          - string
          - 'null'
          description: Accounting classification for the item associated to the line, if applicable.
      additionalProperties: false
      description: 'One row of the pre-joined invoice reporting view (`rpt.View_ExposedReportingData_Invoice`): one

        invoice line item, joined to sales-order and shipment context with line type, pricing, tax, and aging

        detail. Property names are clean identifiers; the query aliases each source column (e.g.

        `[Issued Date]`) to the matching property so Dapper can bind it.'
    DtoReportingQuoteReportFilter:
      type: object
      properties:
        quotedDateFrom:
          type:
          - string
          - 'null'
          description: Inclusive lower bound applied to the quote's Quoted Date. Null means no lower bound.
          format: date-time
        quotedDateTo:
          type:
          - string
          - 'null'
          description: 'Inclusive upper bound applied to the quote''s Quoted Date (the whole `to` day is included).

            Null means no upper bound.'
          format: date-time
        status:
          type:
          - string
          - 'null'
          description: Optional exact-match filter on the quote lifecycle status. Null means no status filter.
        customerName:
          type:
          - string
          - 'null'
          description: Optional exact-match filter on the customer name. Null means no customer filter.
      additionalProperties: false
      description: 'Constrained filter for the quote reporting list endpoint. Every field maps to a fixed,

        server-controlled column; values are always bound as Dapper parameters and never concatenated

        into SQL.'
    DtoPagedResultDtoDtoReportingInventoryReportRow:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DtoReportingInventoryReportRow'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    DtoReportingInventoryReportRow:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
          description: Item number (the user-facing identifier for an item).
        description:
          type:
          - string
          - 'null'
          description: Item description.
        revision:
          type:
          - string
          - 'null'
          description: Item revision label.
        origin:
          type:
          - string
          - 'null'
          description: Item origin classification (e.g. Make, Buy, MakeOrBuy, CustomerSupplied).
        isSellable:
          type:
          - string
          - 'null'
          description: '"Sellable" when the item can appear on a sales order line, otherwise empty.'
        primaryVendorName:
          type:
          - string
          - 'null'
          description: Default vendor name for purchasing the item (Buy or MakeOrBuy items only).
        tags:
          type:
          - string
          - 'null'
          description: Comma-separated list of descriptive, user-applied tags on the item.
        minimumStockOnHand:
          type:
          - number
          - 'null'
          description: Configured minimum stock threshold for reorder planning.
          format: double
        unitOfMeasureName:
          type:
          - string
          - 'null'
          description: Inventory unit of measure (e.g. Piece, Foot, Centimeter).
        accountingCode1:
          type:
          - string
          - 'null'
          description: Primary accounting code mapped to this item.
        accountingCode2:
          type:
          - string
          - 'null'
          description: Secondary accounting code, when configured.
        accountingClass:
          type:
          - string
          - 'null'
          description: Accounting classification.
        category:
          type:
          - string
          - 'null'
          description: Item category for grouping.
        isArchived:
          type:
          - string
          - 'null'
          description: '"Archived" when the item is archived and no longer in active use, otherwise empty.'
        shippingUnitWeight:
          type:
          - number
          - 'null'
          description: Weight per inventory unit used for shipping calculations.
          format: double
        materialUnitWeightLbs:
          type:
          - number
          - 'null'
          description: Underlying material weight per unit, in pounds, for raw-material shape items.
          format: double
        onHandQty:
          type:
          - number
          - 'null'
          description: Quantity currently on hand for this lot at this location.
          format: double
        lotNumber:
          type:
          - string
          - 'null'
          description: Lot identifier.
        expirationDate:
          type:
          - string
          - 'null'
          description: Lot expiration date when applicable.
          format: date-time
        locationName:
          type:
          - string
          - 'null'
          description: Inventory location name.
        isCustom:
          type:
          - string
          - 'null'
          description: '"Custom" when the lot holds customized / non-standard variations of an item, otherwise empty.'
        materialValue:
          type:
          - number
          - 'null'
          description: Per-unit value of input materials required to produce the items in this lot.
          format: double
        laborValue:
          type:
          - number
          - 'null'
          description: Per-unit value of labor required to produce the items in this lot.
          format: double
        machineValue:
          type:
          - number
          - 'null'
          description: Per-unit value of equipment time required to produce the items in this lot.
          format: double
        outsideProcessingValue:
          type:
          - number
          - 'null'
          description: Per-unit value of outside processes required to produce the items in this lot.
          format: double
        totalUnitValue:
          type:
          - number
          - 'null'
          description: Sum of per-unit cost components (material + labor + machine + OP).
          format: double
        totalValue:
          type:
          - number
          - 'null'
          description: On-hand quantity × total unit value (extended inventory value).
          format: double
      additionalProperties: false
      description: 'One row of the pre-joined inventory reporting view (`rpt.View_ExposedReportingData_Inventory`):

        one (item, lot, location) combination, carrying on-hand quantity, per-unit and extended valuation

        (material/labor/machine/OP), lot and location context, and item categorization. Property names are

        clean identifiers; the query aliases each source column (e.g. `[On Hand Qty]`) to the matching

        property so Dapper can bind it.'
    DtoReportingJobActivityByOperatorReportRow:
      type: object
      properties:
        jobName:
          type:
          - string
          - 'null'
          description: Job name.
        item:
          type:
          - string
          - 'null'
          description: Item being produced.
        operationName:
          type:
          - string
          - 'null'
          description: Operation name within the routing.
        operationNumber:
          type:
          - integer
          - 'null'
          description: Operation sequence number within the routing.
          format: int32
        employee:
          type:
          - string
          - 'null'
          description: Operator name.
        startedOrCreatedDate:
          type:
          - string
          - 'null'
          description: Date the operator's run started (or the row was created).
          format: date-time
        jobCompletedDate:
          type:
          - string
          - 'null'
          description: Completion date of the job overall.
          format: date-time
        itemDescription:
          type:
          - string
          - 'null'
          description: Item description.
        itemRevision:
          type:
          - string
          - 'null'
          description: Item revision when applicable.
        isParent:
          type:
          - integer
          - 'null'
          description: 1 when this item is a parent assembly within the job, otherwise 0. (Computed 1/0 flag.)
          format: int32
        lastOperationOnItem:
          type:
          - integer
          - 'null'
          description: 1 when this is the final operation in the item's routing, otherwise 0. (Computed 1/0 flag.)
          format: int32
        productionDueDate:
          type:
          - string
          - 'null'
          description: Job's production due date.
          format: date-time
        salesOrderNumber:
          type:
          - string
          - 'null'
          description: Source sales order number.
        customer:
          type:
          - string
          - 'null'
          description: Customer name from the sales order.
        customerPurchaseOrder:
          type:
          - string
          - 'null'
          description: Customer's PO number from the sales order.
        jobPriority:
          type:
          - string
          - 'null'
          description: Job priority value.
        jobStatus:
          type:
          - string
          - 'null'
          description: Job lifecycle status.
        jobScheduledStart:
          type:
          - string
          - 'null'
          description: Scheduled start time of the job.
          format: date-time
        jobScheduledEnd:
          type:
          - string
          - 'null'
          description: Scheduled end time of the job.
          format: date-time
        jobLateStatus:
          type:
          - string
          - 'null'
          description: Late classification for the job (Late or On Time).
        jobPlannedQty:
          type:
          - number
          - 'null'
          description: Planned quantity for the job.
          format: double
        uoM:
          type:
          - string
          - 'null'
          description: Unit of measure for the item being produced.
        department:
          type:
          - string
          - 'null'
          description: Department containing the work center.
        shift:
          type:
          - string
          - 'null'
          description: Shift assigned to the operation.
        scheduledEquipment:
          type:
          - string
          - 'null'
          description: Equipment scheduled for this operation.
        operationStatus:
          type:
          - string
          - 'null'
          description: Operation lifecycle status (Ready, Pending, Running, Paused, Complete).
        operationCompletedDate:
          type:
          - string
          - 'null'
          description: Completion date of the operation.
          format: date-time
        setupComplete:
          type:
          - string
          - 'null'
          description: '"TRUE" when the setup phase is complete, otherwise "FALSE".'
        runComplete:
          type:
          - string
          - 'null'
          description: '"TRUE" when the run phase is complete, otherwise "FALSE".'
        estimatedSetupTimeHours:
          type:
          - number
          - 'null'
          description: Estimated setup hours for the operation.
          format: double
        estimatedRunTimeHours:
          type:
          - number
          - 'null'
          description: Estimated run hours for the operation.
          format: double
        estimatedMachineTimeHours:
          type:
          - number
          - 'null'
          description: Estimated machine hours for the operation.
          format: double
        unitsCompletedOnOperation:
          type:
          - number
          - 'null'
          description: Quantity completed on the operation overall.
          format: double
        isOutsideProcessing:
          type:
          - string
          - 'null'
          description: '"Outside Processing" when the operation is performed by an outside vendor, otherwise empty.'
        setupTimeHours:
          type:
          - number
          - 'null'
          description: Operator's actual setup hours on this run.
          format: double
        laborTimeHours:
          type:
          - number
          - 'null'
          description: Operator's actual labor hours on this run.
          format: double
        machineTimeHours:
          type:
          - number
          - 'null'
          description: Machine hours recorded on this run.
          format: double
        startedOn:
          type:
          - string
          - 'null'
          description: Timer start timestamp for this run.
          format: date-time
        stoppedOn:
          type:
          - string
          - 'null'
          description: Timer stop timestamp for this run.
          format: date-time
        qtyCompletedThisRun:
          type:
          - number
          - 'null'
          description: Quantity completed in this specific run.
          format: double
        qtyInventoriedThisRun:
          type:
          - number
          - 'null'
          description: Quantity moved to inventory in this specific run.
          format: double
        unitsPerHour:
          type:
          - number
          - 'null'
          description: Throughput rate for this run (units / labor hour).
          format: double
        setupRate:
          type:
          - number
          - 'null'
          description: Hourly rate applied to setup hours.
          format: double
        laborRate:
          type:
          - number
          - 'null'
          description: Hourly rate applied to labor hours.
          format: double
        machineRate:
          type:
          - number
          - 'null'
          description: Hourly rate applied to machine hours.
          format: double
        setupCost:
          type:
          - number
          - 'null'
          description: Computed setup cost for this run (hours × rate).
          format: double
        laborCost:
          type:
          - number
          - 'null'
          description: Computed labor cost for this run (hours × rate).
          format: double
        machineCost:
          type:
          - number
          - 'null'
          description: Computed machine cost for this run (hours × rate).
          format: double
        operationScheduledStart:
          type:
          - string
          - 'null'
          description: Scheduled start time for this operation.
          format: date-time
        operationScheduledEnd:
          type:
          - string
          - 'null'
          description: Scheduled end time for this operation.
          format: date-time
        systemOperationId:
          type:
          - string
          - 'null'
          description: Internal stable identifier for the operation.
      additionalProperties: false
      description: 'One row of the pre-joined job-activity-by-operator reporting view

        (`rpt.View_ExposedReportingData_JobActivityByOperator`): one operation, day, and operator,

        carrying per-operator setup/labor/machine time and cost, run-by-run quantities, rates, and job/routing

        context. Property names are clean identifiers; the query aliases each source column

        (e.g. `[Started or Created Date]`) to the matching property so Dapper can bind it.'
    DtoReportingSalesOrderLinesReportFilter:
      type: object
      properties:
        orderedDateFrom:
          type:
          - string
          - 'null'
          description: Inclusive lower bound applied to the order's Ordered Date. Null means no lower bound.
          format: date-time
        orderedDateTo:
          type:
          - string
          - 'null'
          description: 'Inclusive upper bound applied to the order''s Ordered Date (the whole `to` day is included).

            Null means no upper bound.'
          format: date-time
        deliveryDueDateFrom:
          type:
          - string
          - 'null'
          description: Inclusive lower bound applied to the line's Delivery Due Date. Null means no lower bound.
          format: date-time
        deliveryDueDateTo:
          type:
          - string
          - 'null'
          description: 'Inclusive upper bound applied to the line''s Delivery Due Date (the whole `to` day is

            included). Null means no upper bound.'
          format: date-time
        salesOrderStatus:
          type:
          - string
          - 'null'
          description: Optional exact-match filter on the sales-order lifecycle status. Null means no status filter.
        customerName:
          type:
          - string
          - 'null'
          description: Optional exact-match filter on the customer name. Null means no customer filter.
        accountingCode:
          type:
          - string
          - 'null'
          description: 'Optional exact-match filter on the accounting code mapped to the line. Null means no accounting

            code filter.'
        unshippedOnly:
          type:
          - boolean
          - 'null'
          description: 'When true, returns only lines with quantity remaining to ship (Quantity to Ship > 0). When

            false or null, no ship-status filter is applied.'
      additionalProperties: false
      description: 'Constrained filter for the sales-order line-items reporting list endpoint. Every field maps to a

        fixed, server-controlled column; values are always bound as Dapper parameters and never concatenated

        into SQL.'
    DtoReportingJobActivityByOperatorReportFilter:
      type: object
      properties:
        startedOrCreatedDateFrom:
          type:
          - string
          - 'null'
          description: Inclusive lower bound applied to the run's Started or Created Date. Null means no lower bound.
          format: date-time
        startedOrCreatedDateTo:
          type:
          - string
          - 'null'
          description: 'Inclusive upper bound applied to the run''s Started or Created Date (the whole `to` day is

            included). Null means no upper bound.'
          format: date-time
        employee:
          type:
          - string
          - 'null'
          description: Optional exact-match filter on the operator / employee name. Null means no operator filter.
        department:
          type:
          - string
          - 'null'
          description: 'Optional exact-match filter on the department containing the operation''s work center. Null means

            no department filter.'
      additionalProperties: false
      description: 'Constrained filter for the job-activity-by-operator reporting list endpoint. Every field maps to a

        fixed, server-controlled column; values are always bound as Dapper parameters and never concatenated

        into SQL.'
    CommonEnumSortDirectionEnum:
      enum:
      - ascending
      - descending
      type: string
      description: Specify sorting direction.
    DtoReportingSalesOrderLinesReportRow:
      type: object
      properties:
        companyName:
          type:
          - string
          - 'null'
          description: Issuing company / tenant company name.
        associatedQuote:
          type:
          - string
          - 'null'
          description: Quote number this SO was converted from, when applicable.
        salesOrderNumber:
          type:
          - integer
          - 'null'
          description: Numeric sales-order identifier.
          format: int32
        customerPONumber:
          type:
          - string
          - 'null'
          description: Customer's PO number recorded on the sales order.
        salesOrderStatus:
          type:
          - string
          - 'null'
          description: SO lifecycle status.
        completedDate:
          type:
          - string
          - 'null'
          description: Date the SO was marked complete.
          format: date-time
        orderPriority:
          type:
          - string
          - 'null'
          description: Order priority value.
        customerName:
          type:
          - string
          - 'null'
          description: Customer display name.
        customerTier:
          type:
          - string
          - 'null'
          description: Customer tier classification.
        paymentTerms:
          type:
          - string
          - 'null'
          description: Payment terms name.
        city:
          type:
          - string
          - 'null'
          description: Customer city.
        customerStateProvince:
          type:
          - string
          - 'null'
          description: Customer state or province.
        customerContact:
          type:
          - string
          - 'null'
          description: Name of the customer contact recorded on the order.
        customerPhone:
          type:
          - string
          - 'null'
          description: Customer contact phone number.
        customerEmail:
          type:
          - string
          - 'null'
          description: Customer contact email address.
        salesperson:
          type:
          - string
          - 'null'
          description: Name of the assigned salesperson.
        orderedDate:
          type:
          - string
          - 'null'
          description: Date the order was placed.
          format: date-time
        lineItem:
          type:
          - string
          - 'null'
          description: Item name on the SO line.
        lineItemDescription:
          type:
          - string
          - 'null'
          description: Item description on the SO line.
        deliverBy:
          type:
          - string
          - 'null'
          description: Customer-requested delivery-by date.
          format: date-time
        lineItemType:
          type:
          - string
          - 'null'
          description: Line classification (part, fee, etc.).
        blanketOrder:
          type:
          - integer
          - 'null'
          description: 1 when the SO line is a blanket order, otherwise 0. (Computed 1/0 flag in the view.)
          format: int32
        deliveryDueDate:
          type:
          - string
          - 'null'
          description: Computed delivery due date for the line.
          format: date-time
        internalUnitOfMeasure:
          type:
          - string
          - 'null'
          description: Internal unit of measure used by Fulcrum.
        customerPartNumber:
          type:
          - string
          - 'null'
          description: Customer's part number for the line.
        customerPartDescription:
          type:
          - string
          - 'null'
          description: Customer's description for the line.
        customerUnitOfMeasure:
          type:
          - string
          - 'null'
          description: Unit of measure used on the customer's PO.
        accountingCode:
          type:
          - string
          - 'null'
          description: Accounting code mapped to the line.
        accountingClass:
          type:
          - string
          - 'null'
          description: Accounting classification for the line's account.
        itemTags:
          type:
          - string
          - 'null'
          description: Comma-separated tags from the line's item.
        itemCategory:
          type:
          - string
          - 'null'
          description: Category from the line's item.
        quantityOrdered:
          type:
          - number
          - 'null'
          description: Quantity ordered on the line.
          format: double
        unitPrice:
          type:
          - number
          - 'null'
          description: Per-unit price billed to the customer.
          format: double
        lineItemSubTotal:
          type:
          - number
          - 'null'
          description: Extended line subtotal (Quantity × Unit Price).
          format: double
        pricingStrategy:
          type:
          - string
          - 'null'
          description: Pricing strategy used (e.g. Fixed, Shop Rate).
        hasDiscount:
          type:
          - boolean
          - 'null'
          description: True when any discount has been applied to the line.
        isTimeAndMaterials:
          type:
          - boolean
          - 'null'
          description: True when the line is priced time-and-materials.
        margin:
          type:
          - number
          - 'null'
          description: Margin recorded on the line at order time.
          format: double
        estimatedUnitCost:
          type:
          - number
          - 'null'
          description: Estimated cost per produced unit (from costing).
          format: double
        associatedJobs:
          type:
          - string
          - 'null'
          description: Comma-separated list of associated job names.
        associatedJobStatuses:
          type:
          - string
          - 'null'
          description: Comma-separated list of associated job statuses.
        jobTotalEstimatedLaborCost:
          type:
          - number
          - 'null'
          description: Estimated labor cost summed across associated jobs.
          format: double
        jobTotalEstimatedMachineCost:
          type:
          - number
          - 'null'
          description: Estimated machine cost summed across associated jobs.
          format: double
        jobTotalEstimatedMaterialCost:
          type:
          - number
          - 'null'
          description: Estimated material cost summed across associated jobs.
          format: double
        jobTotalEstimatedOPCost:
          type:
          - number
          - 'null'
          description: Estimated outside-processing cost summed across associated jobs.
          format: double
        jobTotalEstimatedCost:
          type:
          - number
          - 'null'
          description: Total estimated cost summed across associated jobs.
          format: double
        actualAvgUnitCost:
          type:
          - number
          - 'null'
          description: Actual cost per produced unit, averaged across associated jobs.
          format: double
        actualAvgMaterialUnitCost:
          type:
          - number
          - 'null'
          description: Actual material cost per unit, averaged.
          format: double
        actualAvgLaborUnitCost:
          type:
          - number
          - 'null'
          description: Actual labor cost per unit, averaged.
          format: double
        actualAvgMachineUnitCost:
          type:
          - number
          - 'null'
          description: Actual machine cost per unit, averaged.
          format: double
        actualAvgOPUnitCost:
          type:
          - number
          - 'null'
          description: Actual outside-processing cost per unit, averaged.
          format: double
        jobActualTotalCost:
          type:
          - number
          - 'null'
          description: Actual total cost summed across associated jobs.
          format: double
        totalQuantityProduced:
          type:
          - number
          - 'null'
          description: Total quantity produced across associated jobs.
          format: double
        hasInvoice:
          type:
          - string
          - 'null'
          description: '"Yes" when at least one invoice has been issued for this line, otherwise "No".'
        totalQuantityInvoicedIssued:
          type:
          - number
          - 'null'
          description: Total quantity invoiced (on issued invoices).
          format: double
        invoiceNumbers:
          type:
          - string
          - 'null'
          description: Comma-separated list of associated invoice numbers.
        invoiceStatuses:
          type:
          - string
          - 'null'
          description: Comma-separated list of associated invoice statuses.
        invoiceLinesSubtotal:
          type:
          - number
          - 'null'
          description: Sum of invoice-line subtotals across associated invoices.
          format: double
        quantityShipped:
          type:
          - number
          - 'null'
          description: Total quantity shipped to date.
          format: double
        quantityToShip:
          type:
          - number
          - 'null'
          description: Quantity remaining to ship (Ordered − Shipped).
          format: double
        valueShipped:
          type:
          - number
          - 'null'
          description: Extended value already shipped.
          format: double
        valueToShip:
          type:
          - number
          - 'null'
          description: Extended value remaining to ship.
          format: double
        associatedShipmentNumbers:
          type:
          - string
          - 'null'
          description: Comma-separated list of shipment numbers.
        associatedShipmentStatuses:
          type:
          - string
          - 'null'
          description: Comma-separated list of shipment statuses.
        associatedShipmentMethods:
          type:
          - string
          - 'null'
          description: Comma-separated list of shipment methods used.
        hasReturn:
          type:
          - string
          - 'null'
          description: '"Yes" when at least one return is associated with the line, otherwise "No".'
        quantityToReturn:
          type:
          - number
          - 'null'
          description: Quantity flagged to return.
          format: double
        refundReason:
          type:
          - string
          - 'null'
          description: Reason text for any refund logged against the line.
      additionalProperties: false
      description: 'One row of the pre-joined sales-order line-items reporting view

        (`rpt.View_ExposedReportingData_SalesOrderLineItems`): one sales-order line, carrying the

        order/customer context and the line''s pre-computed cost, invoice, ship, and return values. Property

        names are clean identifiers; the query aliases each source column (e.g. `[Sales Order Number]`)

        to the matching property so Dapper can bind it.'
    DtoPagedResultDtoDtoReportingTimeClockReportRow:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DtoReportingTimeClockReportRow'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    DtoReportingInvoiceReportFilter:
      type: object
      properties:
        issuedDateFrom:
          type:
          - string
          - 'null'
          description: Inclusive lower bound applied to the invoice's Issued Date. Null means no lower bound.
          format: date-time
        issuedDateTo:
          type:
          - string
          - 'null'
          description: 'Inclusive upper bound applied to the invoice''s Issued Date (the whole `to` day is included).

            Null means no upper bound.'
          format: date-time
        invoiceStatus:
          type:
          - string
          - 'null'
          description: 'Optional exact-match filter on the invoice lifecycle status (e.g. "Issued", "Paid"). Null means

            no status filter.'
        lineType:
          type:
          - string
          - 'null'
          description: 'Optional exact-match filter on the line type (Part, Shipping, Fee, Deposit, Discount, Refund,

            Tax, or NA). Null means no line-type filter.'
      additionalProperties: false
      description: 'Constrained filter for the invoice reporting list endpoint. Every field maps to a fixed,

        server-controlled column; values are always bound as Dapper parameters and never concatenated

        into SQL.'
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
