openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code Tax Rate API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Tax Rate
paths:
  /api/tax-rates:
    post:
      tags:
      - Tax Rate
      summary: Create a new tax rate
      operationId: CreateTaxRate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TaxRateCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TaxRateCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TaxRateCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TaxRateCreateDto'
        required: true
      responses:
        '200':
          description: Tax rate created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
        '400':
          description: Validation issues with input
      x-c4-mutation: true
      x-c4-required-permissions:
      - System-System Data-Manage System Data
  /api/tax-rates/{id}:
    get:
      tags:
      - Tax Rate
      summary: Get a tax rate.
      operationId: GetTaxRate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: The tax rate for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRateDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/TaxRateDto'
        '404':
          description: Tax rate did not exist
    put:
      tags:
      - Tax Rate
      summary: Update a tax rate
      operationId: UpdateTaxRate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TaxRateUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TaxRateUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TaxRateUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TaxRateUpdateDto'
        required: true
      responses:
        '200':
          description: Tax rate update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRateDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/TaxRateDto'
        '400':
          description: Validation issues with input
      x-c4-mutation: true
      x-c4-required-permissions:
      - System-System Data-Manage System Data
  /api/tax-rates/list:
    post:
      tags:
      - Tax Rate
      summary: Find tax rates based on search parameters.
      operationId: ListTaxRate
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TaxRateRequestFindParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/TaxRateRequestFindParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/TaxRateRequestFindParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TaxRateRequestFindParameters'
      responses:
        '200':
          description: List of tax rates matching the filters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxRateDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxRateDto'
components:
  schemas:
    DomainSystemDataTaxCodeProvider:
      enum:
      - avalaraOrder
      - avalaraInvoice
      type: string
    TaxRateDto:
      required:
      - code
      - id
      - rate
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type: string
          description: Unique id associated to this entity.
        code:
          maxLength: 200
          minLength: 1
          type: string
          description: Identifying code. Must be unique.
        provider:
          $ref: '#/components/schemas/DomainSystemDataTaxCodeProvider'
        rate:
          type: number
          description: Tax Rate (%)
          format: double
        applyToLandedCosts:
          type: boolean
          description: Indicate if this tax rate applies to landed costs.
        deleted:
          type: boolean
          description: Indicate if this record is deleted.
      additionalProperties: false
      description: Tax rate definition.
    TaxRateCreateDto:
      required:
      - code
      - rate
      type: object
      properties:
        code:
          maxLength: 200
          minLength: 1
          type: string
          description: The code for the tax rate. Must be unique to all active tax rates.
        rate:
          minimum: 0
          type: number
          description: Tax rate. This is the ratio (0.17 = 17%)
          format: double
        applyToLandedCosts:
          type: boolean
          description: Indicate if this tax rate applies to landed costs.
      additionalProperties: false
      description: Details of tax rate to be created
    CreatedResponseDto:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: The id of the created record
      additionalProperties: false
      description: Response for a created record
    CommonEnumSortDirectionEnum:
      enum:
      - ascending
      - descending
      type: string
      description: Specify sorting direction.
    TaxRateUpdateDto:
      required:
      - code
      - rate
      type: object
      properties:
        code:
          maxLength: 200
          minLength: 1
          type: string
          description: The code for the tax rate. Must be unique to all active tax rates.
        rate:
          minimum: 0
          type: number
          description: Tax rate. This is the proportion (0.17 = 17%)
          format: double
        applyToLandedCosts:
          type: boolean
          description: Indicate if this tax rate applies to landed costs.
      additionalProperties: false
      description: Details of tax rate to be update
    TaxRateRequestFindParameters:
      type: object
      properties:
        code:
          maxLength: 200
          minLength: 1
          type: string
          description: Filter tax rates based on their code.
          nullable: true
        ids:
          type: array
          items:
            type: string
          description: Filter tax rates based on matching ids.
          nullable: true
      additionalProperties: false
      description: Parameters used for searching/finding tax rates.
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
