openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code CAPAs API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: CAPAs
paths:
  /api/capas/{capaId}:
    get:
      tags:
      - CAPAs
      summary: Get a specific CAPA by id.
      operationId: GetCapa
      parameters:
      - name: capaId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: The CAPA for the given id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CAPACapaDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CAPACapaDto'
        '404':
          description: A CAPA with that id does not exist.
      x-c4-required-permissions:
      - Quality-CAPA-View CAPA
  /api/capas/list:
    post:
      tags:
      - CAPAs
      summary: Finds CAPAs based on search parameters
      operationId: ListCAPA
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CAPARequestCapaListParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/CAPARequestCapaListParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/CAPARequestCapaListParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CAPARequestCapaListParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoCAPACapaDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/DtoPagedResultDtoCAPACapaDto'
      x-c4-required-permissions:
      - Quality-CAPA-View CAPA
components:
  schemas:
    CAPARequestCapaListParameters:
      type: object
      properties:
        status:
          type: string
          description: 'Filter CAPAs by a specific status

            Accepted Values:

            Closed, Hold, New, Quality Review, Engineering Review'
          nullable: true
        type:
          type: string
          description: Filter CAPAs by a specific type. Available values are configured per tenant in Quality settings (NCR dropdowns).
          nullable: true
        ncrId:
          type: string
          description: Filter CAPAs by a NCR Id
          nullable: true
        createdUtc:
          type: string
          description: Filter CAPAs created after a certain date
          format: date-time
          nullable: true
      additionalProperties: false
      description: Parameters used for searching CAPAs
    CommonEnumSortDirectionEnum:
      enum:
      - ascending
      - descending
      type: string
      description: Specify sorting direction.
    DtoPagedResultDtoCAPACapaDto:
      required:
      - data
      - hasNextPage
      - hasPreviousPage
      - page
      - pageSize
      - totalCount
      - totalPages
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CAPACapaDto'
          description: The data
        page:
          type: integer
          description: The 1-indexed page
          format: int32
          readOnly: true
        pageSize:
          type: integer
          description: The page size
          format: int32
          readOnly: true
        totalCount:
          type: integer
          description: The total count of records
          format: int32
        totalPages:
          type: integer
          description: The total pages
          format: int32
          readOnly: true
        hasPreviousPage:
          type: boolean
          description: True if there is a previous page
          readOnly: true
        hasNextPage:
          type: boolean
          description: True if there is a next page
          readOnly: true
      additionalProperties: false
      description: Paged result
    CAPACapaDto:
      required:
      - capaType
      - id
      - number
      - problemStatement
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type: string
          description: Unique id associated to this entity.
        number:
          minimum: 0
          type: integer
          description: Number
          format: int32
        capaType:
          minLength: 1
          type: string
          description: CAPA Type
        problemStatement:
          maxLength: 2000
          minLength: 1
          type: string
          description: Problem statement
        status:
          type: string
          description: CAPA Status
          nullable: true
        rootCauseAnalysis:
          maxLength: 2000
          minLength: 1
          type: string
          description: Root cause analysis
          nullable: true
        correctiveAction:
          maxLength: 2000
          minLength: 1
          type: string
          description: Corrective action
          nullable: true
        ncrId:
          type: string
          description: Related NCR ID
          nullable: true
        createdUtc:
          type: string
          description: Created Date
          format: date-time
          nullable: true
        dueDate:
          type: string
          description: Completed Date
          format: date-time
          nullable: true
        closedUtc:
          type: string
          description: Completed Date
          format: date-time
          nullable: true
      additionalProperties: false
      description: Represents an CAPA
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
