openapi: 3.2.0
info:
  title: Fulcrum Public Sales Order API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Sales Order
paths:
  /api/sales-orders:
    post:
      tags:
      - Sales Order
      summary: Create a new draft sales order
      operationId: CreateSalesOrder
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SalesOrderCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SalesOrderCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SalesOrderCreateDto'
        required: true
      responses:
        '200':
          description: Sales order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
        '400':
          description: Validation issues with input
      x-c4-mutation: true
      x-c4-required-permissions:
      - Orders-SalesOrders-Edit Sales Order
  /api/sales-orders/{salesOrderId}:
    delete:
      tags:
      - Sales Order
      summary: Delete a specific sales order
      operationId: DeleteSalesOrder
      parameters:
      - name: salesOrderId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: Success
        '204':
          description: Sales order did not exist
    get:
      tags:
      - Sales Order
      summary: Get a specific sales order
      operationId: GetSalesOrder
      parameters:
      - name: salesOrderId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: The sales order for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
        '404':
          description: Sales order did not exist
      x-c4-required-permissions:
      - Orders-SalesOrders-View Sales Order
    patch:
      tags:
      - Sales Order
      summary: Partially update an SalesOrder
      operationId: PatchSalesOrder
      parameters:
      - name: salesOrderId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JsonPatchDocument'
      responses:
        '200':
          description: SalesOrder item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
        '404':
          description: SalesOrder did not exist
      x-c4-mutation: true
      x-c4-required-permissions:
      - Orders-SalesOrders-Edit Sales Order
    put:
      tags:
      - Sales Order
      summary: Update a sales order
      operationId: UpdateSalesOrder
      parameters:
      - name: salesOrderId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SalesOrderUpdateDto'
        required: true
      responses:
        '200':
          description: Sales order item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/SalesOrderDto'
        '404':
          description: Sales order did not exist
  /api/sales-orders/list:
    post:
      tags:
      - Sales Order
      summary: Find sales orders based on search parameters
      operationId: ListSalesOrder
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequestFindParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequestFindParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequestFindParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequestFindParameters'
      responses:
        '200':
          description: List of sales orders matching the filters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderDto'
      x-c4-required-permissions:
      - Orders-SalesOrders-View Sales Order
  /api/sales-orders/{salesOrderId}/status:
    post:
      tags:
      - Sales Order
      summary: Update a sales order status
      operationId: StatusUpdateSalesOrder
      parameters:
      - name: salesOrderId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequestUpdateStatus'
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequestUpdateStatus'
          text/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequestUpdateStatus'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SalesOrderRequestUpdateStatus'
        required: true
      responses:
        '200':
          description: Success
        '404':
          description: Sales order did not exist
      x-c4-mutation: true
      x-c4-required-permissions:
      - Orders-SalesOrders-Edit Sales Order
components:
  schemas:
    SalesOrderRequestUpdateStatus:
      required:
      - status
      type: object
      properties:
        status:
          $ref: '#/components/schemas/SalesOrderStatus'
      additionalProperties: false
      description: Update a sales order status.
    SalesOrderStatus:
      enum:
      - draft
      - needsApproval
      - approved
      - inProgress
      - complete
      type: string
      description: Sales order status
    SalesOrderRequestFindParameters:
      type: object
      properties:
        numbers:
          maxItems: 500
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
          description: Filter sales orders to only given numbers
        externalReference:
          $ref: '#/components/schemas/CommonExternalReferenceFindDto'
        status:
          $ref: '#/components/schemas/SalesOrderStatus'
        externalQuoteUrls:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Filter sales orders to those matching an external quote URL.
        createdFromQuoteId:
          type:
          - string
          - 'null'
          description: Filter sales orders created from the specific quote
        createdBeforeUtc:
          type:
          - string
          - 'null'
          description: Filters created before (exclusive) this parameter in UTC time. If no time component is passed, midnight UTC will be used.
          format: date-time
        createdAfterUtc:
          type:
          - string
          - 'null'
          description: Filters created after (exclusive) this parameter in UTC time. If no time component is passed, midnight UTC will be used.
          format: date-time
        modifiedBeforeUtc:
          type:
          - string
          - 'null'
          description: Filters modified before (exclusive) this parameter in UTC time. If no time component is passed, midnight UTC will be used.
          format: date-time
        modifiedAfterUtc:
          type:
          - string
          - 'null'
          description: Filters modified after (exclusive) this parameter in UTC time. If no time component is passed, midnight UTC will be used.
          format: date-time
      additionalProperties: false
      description: Parameters used for searching/finding sales orders.
    SalesOrderPriority:
      enum:
      - low
      - moderate
      - high
      type: string
      description: Priority of the sales order
    CommonAddressCreateDto:
      required:
      - address1
      - city
      - postalCode
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Name of the address (Bob's Shipping, Primary, Reno Warehouse, etc).
        address1:
          maxLength: 200
          minLength: 1
          type: string
          description: Primary address line.
        address2:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Second address line.
        address3:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Third address line.
        city:
          maxLength: 200
          minLength: 1
          type: string
          description: Address city
        stateProvince:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Address state/province.
        postalCode:
          maxLength: 200
          minLength: 1
          type: string
          description: Postal/zip code.
        country:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Country identifier.
        shippingLeadTime:
          minimum: 0
          type:
          - integer
          - 'null'
          description: Lead time for shipping contents.
          format: int32
        primaryBilling:
          type: boolean
          description: Signifies if this is a primary billing address.
        primaryShipping:
          type: boolean
          description: Signifies if this is a primary billing address.
        email:
          type:
          - string
          - 'null'
          description: Email address
          format: email
        phone:
          type:
          - string
          - 'null'
          description: Associated phone number
        fax:
          type:
          - string
          - 'null'
          description: Associated fax number
        notes:
          type:
          - string
          - 'null'
          description: General notes associated to this customer address
      additionalProperties: false
      description: Address with additional context
    CommonReferenceDto:
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Unique Id associated to the referenced object
        name:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Descriptive name associated to the object
      additionalProperties: false
      description: Represents a reference to a document in a DB collection
    CommonDepositCreateDto:
      required:
      - depositType
      type: object
      properties:
        depositType:
          $ref: '#/components/schemas/CommonEnumSalesOrderDepositRequirementEnum'
        amount:
          minimum: 0
          type:
          - number
          - 'null'
          description: This represents the literal amount of the deposit if FulcrumProduct.PublicApi.Dto.Common.DepositCreateDto.DepositType == FulcrumProduct.PublicApi.Dto.Common.Enum.SalesOrderDepositRequirementEnum.Fixed or the percentage (0 - 100) when FulcrumProduct.PublicApi.Dto.Common.DepositCreateDto.DepositType == FulcrumProduct.Domain.SalesOrders.SalesOrderDepositRequirement.Percentage
          format: double
        accountingCodeId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Accounting code key identifier. Please reference /api/accounting-codes endpoint.
      additionalProperties: false
      description: Deposit creation.
    SalesOrderUpdateDto:
      type: object
      properties:
        externalReferences:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/CommonExternalReferenceDto'
          description: Arbitrary key-value-pair like data that can be used to later on search for this line item.
        customerPoNumber:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: CustomerPoNumber
        priority:
          $ref: '#/components/schemas/SalesOrderPriority'
        deliveryDueDate:
          type:
          - string
          - 'null'
          description: 'The date the SO needs to be delivered to the customer.  Note: this does not affect individual line update delivery dates.

            Only the calendar date is used, exactly as written; any time or UTC offset is ignored.'
          format: date-time
        publicNote:
          maxLength: 2000
          minLength: 1
          type:
          - string
          - 'null'
          description: Note to customer. This will appear on PDFs.
      additionalProperties: false
      description: Represents an update on an SalesOrder.
    CommonDepositDto:
      required:
      - depositType
      type: object
      properties:
        depositType:
          $ref: '#/components/schemas/CommonEnumSalesOrderDepositRequirementEnum'
        amount:
          minimum: 0
          type:
          - number
          - 'null'
          description: This represents the literal amount of the deposit if FulcrumProduct.PublicApi.Dto.Common.DepositDto.DepositType == FulcrumProduct.PublicApi.Dto.Common.Enum.SalesOrderDepositRequirementEnum.Fixed or the percentage (0 - 100) when see cref="DepositType"/> == FulcrumProduct.PublicApi.Dto.Common.Enum.SalesOrderDepositRequirementEnum.Percentage
          format: double
        accountingCodeId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Accounting code key identifier. Please reference /api/accounting-codes endpoint.
        amountInvoiced:
          minimum: 0
          type:
          - number
          - 'null'
          description: The amount that has already been invoiced.
          format: double
      additionalProperties: false
      description: Deposit information
    SalesOrderDto:
      required:
      - createdUtc
      - customerId
      - id
      - number
      - orderedDate
      - status
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type: string
          description: Unique id associated to this entity.
        number:
          minimum: 0
          type: integer
          description: Number
          format: int32
        orderedDate:
          type: string
          description: Sales order ordered date (generally the creation date but can be post/pre-dated).
          format: date-time
        customerPoNumber:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: CustomerPoNumber
        externalQuoteUrl:
          type:
          - string
          - 'null'
          description: A reference URL that points to an external quote entity.
        createdFromQuoteId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Unique identifier of the quote that this sales order was created from. Please reference /api/quotes endpoints.
        customerId:
          maxLength: 24
          minLength: 24
          type: string
          description: The id of the customer that the sales order is for
        deliveryDueDate:
          type:
          - string
          - 'null'
          description: The date the SO needs to be delivered to the customer
          format: date-time
        productionDueDate:
          type:
          - string
          - 'null'
          description: The date that production needs to be completed by
          format: date-time
        sentToProductionDateUtc:
          type:
          - string
          - 'null'
          description: The datetime in UTC that the SO status was updated to Send to Production
          format: date-time
        billingAddress:
          $ref: '#/components/schemas/CommonAddressDto'
        paymentTermsId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: The payment terms assigned to this sales order.
        paymentTerms:
          $ref: '#/components/schemas/CommonReferenceDto'
        discount:
          type:
          - number
          - 'null'
          description: Total discount for the SO when a Discount Line as been aded
          format: double
        subtotal:
          type: number
          description: Subtotal for the SO
          format: double
        salesPersonId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: 'Unique identifier of the sales person attached to this sales order.

            Please reference /api/users endpoints.'
        publicNote:
          maxLength: 2000
          minLength: 1
          type:
          - string
          - 'null'
          description: Note to customer. This will appear on PDFs.
        deleted:
          type: boolean
          description: Indicates whether this sales order has been deleted
        companyId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Company identifier. Please reference /api/companies endpoint.
        createdUtc:
          type: string
          description: Date this record was created (UTC).
          format: date-time
        modifiedUtc:
          type:
          - string
          - 'null'
          description: Date this record was modified (UTC). Of note, this does account for children items (line items).
          format: date-time
        usesV3Shipping:
          type: boolean
          description: Indicate if this sales order uses V3 shipping.
        status:
          $ref: '#/components/schemas/SalesOrderStatus'
        priority:
          $ref: '#/components/schemas/SalesOrderPriority'
        shipByDate:
          type:
          - string
          - 'null'
          description: 'The date this sales order should ship by, as shown on the sales order in the app: the earliest ship by

            date across the order''s non-cancelled shipments, or, when no shipment has one, the earliest delivery

            due date less the customer''s shipping lead time.'
          format: date-time
        deposit:
          $ref: '#/components/schemas/CommonDepositDto'
        externalReferences:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/CommonExternalReferenceDto'
          description: External references associated with this entity.
        customFields:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: Custom fields that have been defined on this entity.
        contact:
          $ref: '#/components/schemas/CustomerContactDto'
      additionalProperties: false
      description: Represents a sales order
    JsonPatchDocument:
      type: array
      items:
        $ref: '#/components/schemas/JsonPatchOperation'
      description: Array of operations to perform
    CommonExternalReferenceDto:
      required:
      - externalId
      type: object
      properties:
        type:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          description: Specifies the type of this identifier.
        externalId:
          maxLength: 500
          minLength: 0
          type: string
          description: The external identifier
        displayId:
          maxLength: 500
          minLength: 0
          type:
          - string
          - 'null'
          description: 'The id/number that a human sees. For a quote, this might be ''Q1000''.  If this is null, the display

            will fall back to the ExternalId'
        status:
          type:
          - string
          - 'null'
          description: A status for the external reference
        url:
          type:
          - string
          - 'null'
          description: An external url for the reference
        modifiedUtc:
          type:
          - string
          - 'null'
          description: Date the external reference was modified
          format: date-time
        lastSyncedUtc:
          type:
          - string
          - 'null'
          description: 'Date the external system last successfully synced this reference. Set by integrations

            on successful sync only; null means never synced or that the sync timestamp isn''t

            maintained by the integration.'
          format: date-time
      additionalProperties: false
      description: The external reference for entities that implement FulcrumProduct.Domain.Common.IHasExternalReferences
    CommonExternalReferenceFindDto:
      required:
      - key
      type: object
      properties:
        key:
          maxLength: 50
          minLength: 0
          type: string
          description: Specifies the group name (key) that this external reference originates from (e.g. an external application name)
        type:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          description: Arbitrary sub-key that can be used to qualify the value
        externalId:
          maxLength: 500
          minLength: 0
          type:
          - string
          - 'null'
          description: The external identifier
      additionalProperties: false
      description: Search parameter for identifier record(s) via their external identifiers.
    CustomerContactDto:
      required:
      - firstName
      - id
      - lastName
      type: object
      properties:
        id:
          maxLength: 36
          minLength: 36
          type: string
          description: Id
        firstName:
          maxLength: 200
          minLength: 1
          type: string
          description: First name
        lastName:
          maxLength: 200
          minLength: 1
          type: string
          description: Last name
        position:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Position / Job Title
        cellPhone:
          type:
          - string
          - 'null'
          description: Cellphone number
        phone:
          type:
          - string
          - 'null'
          description: Phone number
        email:
          type:
          - string
          - 'null'
          description: Email address
          format: email
      additionalProperties: false
      description: A customer contact
    JsonPatchOperation:
      type: object
      properties:
        op:
          type: string
        value:
          type: string
        path:
          type: string
    CommonEnumSortDirectionEnum:
      enum:
      - ascending
      - descending
      type: string
      description: Specify sorting direction.
    CommonEnumSalesOrderDepositRequirementEnum:
      enum:
      - fixed
      - percentage
      - none
      type: string
      description: Deposit type.
    CommonAddressDto:
      required:
      - address1
      - city
      - postalCode
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Name of the address (Bob's Shipping, Primary, Reno Warehouse, etc).
        address1:
          maxLength: 200
          minLength: 1
          type: string
          description: Primary address line.
        address2:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Second address line.
        address3:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Third address line.
        city:
          maxLength: 200
          minLength: 1
          type: string
          description: Address city
        stateProvince:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Address state/province.
        postalCode:
          maxLength: 200
          minLength: 1
          type: string
          description: Postal/zip code.
        country:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Country identifier.
        phone:
          type:
          - string
          - 'null'
          description: Phone number.
          format: tel
        email:
          type:
          - string
          - 'null'
          description: Email address
          format: email
      additionalProperties: false
      description: Address definition
    CreatedResponseDto:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: The id of the created record
      additionalProperties: false
      description: Response for a created record
    SalesOrderCreateDto:
      required:
      - customerId
      type: object
      properties:
        customerId:
          maxLength: 24
          minLength: 24
          type: string
          description: The id of the customer to be created
        orderedDate:
          type:
          - string
          - 'null'
          description: 'The ordered date of the sales order. For supplied values, only the calendar date is used,

            exactly as written; any time or UTC offset is ignored. If not supplied, defaults to the

            current UTC timestamp.'
          format: date-time
        customerPoNumber:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Optional customer supplied purchase order number
        shippingAddress:
          $ref: '#/components/schemas/CommonAddressCreateDto'
        billingAddress:
          $ref: '#/components/schemas/CommonAddressCreateDto'
        contact:
          $ref: '#/components/schemas/CustomerContactCreateDto'
        externalReferences:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/CommonExternalReferenceDto'
          description: Arbitrary key-value-pair like data that can be used to later on search for the Sales Order
        externalQuoteUrl:
          type:
          - string
          - 'null'
          description: A reference URL that points to an external quote entity.
        dueDate:
          type:
          - string
          - 'null'
          description: 'The due date of the sales order. This indicates the expected date of completion.

            Only the calendar date is used, exactly as written; any time or UTC offset is ignored.'
          format: date-time
        paymentTermsId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Payment terms key identifier. Please reference /api/payment-terms endpoint.
        salesPersonId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: 'Sales Person identifier. Please reference /api/users endpoint.

            If not provided, the salesperson defined on the customer will be used.'
        publicNote:
          maxLength: 2000
          minLength: 1
          type:
          - string
          - 'null'
          description: Note to customer. This will appear on PDFs.
        priority:
          $ref: '#/components/schemas/SalesOrderPriority'
        companyId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: 'Company identifier. Please reference /api/companies endpoint.

            If not provided, the primary company will be used (if available).'
        productionDueDate:
          type:
          - string
          - 'null'
          description: 'The date that the production of items on the sales order needs to be completed by.

            Only the calendar date is used, exactly as written; any time or UTC offset is ignored.'
          format: date-time
        shippingMethodId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Shipping method identifier. Please reference /api/shipping-methods endpoint.
        deposit:
          $ref: '#/components/schemas/CommonDepositCreateDto'
      additionalProperties: false
      description: Details of sales order to be created
    CustomerContactCreateDto:
      required:
      - firstName
      type: object
      properties:
        firstName:
          maxLength: 200
          minLength: 1
          type: string
          description: First name
        lastName:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Last name
        position:
          maxLength: 200
          minLength: 1
          type:
          - string
          - 'null'
          description: Position / Job Title
        phone:
          type:
          - string
          - 'null'
          description: Phone number
        cellPhone:
          type:
          - string
          - 'null'
          description: Cellphone number
        email:
          type:
          - string
          - 'null'
          description: Email address
          format: email
      additionalProperties: false
      description: A customer contact
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
