openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code Customer API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Customer
paths:
  /api/customers:
    post:
      tags:
      - Customer
      summary: Create a new customer
      operationId: CreateCustomer
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerCreateDto'
        required: true
      responses:
        '200':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
        '400':
          description: Validation issues with input
      x-c4-mutation: true
      x-c4-required-permissions:
      - Customer-Customers-Edit Customer
  /api/customers/{customerId}:
    delete:
      tags:
      - Customer
      summary: Delete a specific customer
      operationId: DeleteCustomer
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: Success
        '204':
          description: Customer did not exist
    get:
      tags:
      - Customer
      summary: Get a specific customer
      operationId: GetCustomer
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: The customer for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
        '404':
          description: Customer did not exist
      x-c4-required-permissions:
      - Customer-Customers-View Customer
    patch:
      tags:
      - Customer
      summary: Partially update a customer
      operationId: PatchCustomer
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/JsonPatchDocument'
      responses:
        '200':
          description: Customer item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
        '404':
          description: Customer did not exist
      x-c4-mutation: true
      x-c4-required-permissions:
      - Customer-Customers-Edit Customer
    put:
      tags:
      - Customer
      summary: Update a specific customer
      operationId: UpdateCustomer
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateDto'
        required: true
      responses:
        '200':
          description: The customer for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CustomerDto'
        '404':
          description: Customer did not exist
  /api/customers/list:
    post:
      tags:
      - Customer
      summary: Find customers based on search parameters.
      operationId: ListCustomer
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerRequestFindParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequestFindParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerRequestFindParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerRequestFindParameters'
      responses:
        '200':
          description: List of customers matching the filters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerDto'
      x-c4-required-permissions:
      - Customer-Customers-View Customer
components:
  schemas:
    CustomerRequestFindParameters:
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Filter to customers who's name contains the given string
          nullable: true
        customerCode:
          minLength: 1
          type: string
          description: Unique identifier for this customer.
          nullable: true
        email:
          minLength: 1
          type: string
          description: The email of the customer
          nullable: true
        modifiedAfterUtc:
          type: string
          description: Filter to customer records modified after the given datetime (in UTC)
          format: date-time
          nullable: true
        externalReference:
          $ref: '#/components/schemas/CommonExternalReferenceFindDto'
      additionalProperties: false
      description: Parameters used for searching/finding customers.
    CustomerDto:
      required:
      - hasCustomerPortal
      - id
      - name
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type: string
          description: Id
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: The name to give the customer. Must be unique to all active customers.
        customerCode:
          minLength: 1
          type: string
          description: Unique identifier for this customer
          nullable: true
        currencyCode:
          minLength: 1
          type: string
          description: 'Currency code/denomination associated to this customer.

            If not provided, default to the primary currency code for the organization.'
          nullable: true
        url:
          type: string
          description: The Customer's website
          format: uri
          nullable: true
        creditLimit:
          minimum: 0
          type: number
          description: Credit limit
          format: double
          nullable: true
        paymentTermsId:
          maxLength: 24
          minLength: 24
          type: string
          description: Payment terms identifier. Please reference /api/payment-terms endpoint.
          nullable: true
        paymentTerms:
          $ref: '#/components/schemas/CommonReferenceDto'
        salesPersonId:
          maxLength: 24
          minLength: 24
          type: string
          description: Sales person identifier. Please reference /api/users endpoint.
          nullable: true
        isTaxable:
          type: boolean
          description: Whether or not this customer is taxable on Sales Orders and Quotes
        taxRateIds:
          type: array
          items:
            type: string
          description: A list of tax codes to be automatically added to new SalesOrders for the customer when AutoAddTaxLineItems process setting is enabled.
          nullable: true
        externalReferences:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CommonExternalReferenceDto'
          description: External references associated with this entity.
          nullable: true
        customFields:
          type: object
          additionalProperties: {}
          description: Custom fields that have been defined on this entity.
          nullable: true
        notes:
          maxLength: 2000
          minLength: 1
          type: string
          description: Notes associated to the customer.
          nullable: true
        hasCustomerPortal:
          type: boolean
          description: Indicates if this customer is set up to use the customer portal.
        customerTierId:
          maxLength: 24
          minLength: 24
          type: string
          description: Customer tier identifier. Please reference /api/customer-tiers endpoint.
          nullable: true
        customerTierName:
          type: string
          description: Customer tier name.
          nullable: true
      additionalProperties: false
      description: A customer
    JsonPatchOperation:
      type: object
      properties:
        op:
          type: string
        value:
          type: string
        path:
          type: string
    CommonExternalReferenceDto:
      required:
      - externalId
      type: object
      properties:
        type:
          maxLength: 50
          minLength: 0
          type: string
          description: Specifies the type of this identifier.
          nullable: true
        externalId:
          maxLength: 500
          minLength: 0
          type: string
          description: The external identifier
        displayId:
          maxLength: 500
          minLength: 0
          type: string
          description: 'The id/number that a human sees. For a quote, this might be ''Q1000''.  If this is null, the display

            will fall back to the ExternalId'
          nullable: true
        status:
          type: string
          description: A status for the external reference
          nullable: true
        url:
          type: string
          description: An external url for the reference
          nullable: true
        modifiedUtc:
          type: string
          description: Date the external reference was modified
          format: date-time
          nullable: true
        lastSyncedUtc:
          type: string
          description: 'Date the external system last successfully synced this reference. Set by integrations

            on successful sync only; null means never synced or that the sync timestamp isn''t

            maintained by the integration.'
          format: date-time
          nullable: true
      additionalProperties: false
      description: The external reference for entities that implement FulcrumProduct.Domain.Common.IHasExternalReferences
    CustomerCreateDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: The name to give the customer. Must be unique to all active customers.
        customerCode:
          minLength: 1
          type: string
          description: Unique identifier for this customer
          nullable: true
        currencyCode:
          minLength: 1
          type: string
          description: 'Currency code/denomination associated to this customer.

            If not provided, default to the primary currency code for the organization.'
          nullable: true
        creditLimit:
          minimum: 0
          type: number
          description: Credit limit
          format: double
          nullable: true
        paymentTermsId:
          maxLength: 24
          minLength: 24
          type: string
          description: Payment terms.
          nullable: true
        salesPersonId:
          maxLength: 24
          minLength: 24
          type: string
          description: Payment terms.
          nullable: true
        url:
          type: string
          description: The Customer's website
          format: uri
          nullable: true
        isTaxable:
          type: boolean
          description: Whether or not this customer is taxable on Sales Orders and Quotes
          nullable: true
        taxRateIds:
          type: array
          items:
            type: string
          description: A list of tax codes to be automatically added to new SalesOrders for the customer when AutoAddTaxLineItems process setting is enabled.
          nullable: true
        externalReferences:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CommonExternalReferenceDto'
          description: Arbitrary key-value-pair like data that can be used to later on search for the customer
          nullable: true
        customFields:
          type: object
          additionalProperties: {}
          description: Custom fields that have been defined on this entity.
          nullable: true
        notes:
          type: string
          description: Notes associated to the customer.
          nullable: true
        hasCustomerPortal:
          type: boolean
          description: Indicates if this customer is set up to use the customer portal.
          nullable: true
      additionalProperties: false
      description: Details of customer to be created
    CustomerUpdateDto:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: The name to give the customer. Must be unique to all active customers.
        customerCode:
          minLength: 1
          type: string
          description: Unique identifier for this customer
          nullable: true
        currencyCode:
          minLength: 1
          type: string
          description: 'Currency code/denomination associated to this customer.

            If not provided, default to the primary currency code for the organization.'
          nullable: true
        url:
          type: string
          description: The Customer's website
          format: uri
          nullable: true
        creditLimit:
          minimum: 0
          type: number
          description: Credit limit
          format: double
          nullable: true
        paymentTermsId:
          maxLength: 24
          minLength: 24
          type: string
          description: Payment terms identifier. Please reference /api/payment-terms endpoint.
          nullable: true
        salesPersonId:
          maxLength: 24
          minLength: 24
          type: string
          description: Sales person identifier. Please reference /api/users endpoint.
          nullable: true
        isTaxable:
          type: boolean
          description: Whether or not this customer is taxable on Sales Orders and Quotes
          nullable: true
        taxRateIds:
          type: array
          items:
            type: string
          description: A list of tax codes to be automatically added to new SalesOrders for the customer when AutoAddTaxLineItems process setting is enabled.
          nullable: true
        externalReferences:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CommonExternalReferenceDto'
          description: Arbitrary key-value-pair like data that can be used to later on search for this line item.
          nullable: true
        customFields:
          type: object
          additionalProperties: {}
          description: Custom fields that have been defined on this entity.
          nullable: true
        notes:
          type: string
          description: Notes associated to the customer.
          nullable: true
        hasCustomerPortal:
          type: boolean
          description: Indicates if this customer is set up to use the customer portal.
          nullable: true
      additionalProperties: false
      description: Details of customer to be updated
    JsonPatchDocument:
      type: array
      items:
        $ref: '#/components/schemas/JsonPatchOperation'
      description: Array of operations to perform
    CommonExternalReferenceFindDto:
      required:
      - key
      type: object
      properties:
        key:
          maxLength: 50
          minLength: 0
          type: string
          description: Specifies the group name (key) that this external reference originates from (e.g. an external application name)
        type:
          maxLength: 50
          minLength: 0
          type: string
          description: Arbitrary sub-key that can be used to qualify the value
          nullable: true
        externalId:
          maxLength: 500
          minLength: 0
          type: string
          description: The external identifier
          nullable: true
      additionalProperties: false
      description: Search parameter for identifier record(s) via their external identifiers.
    CreatedResponseDto:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: The id of the created record
      additionalProperties: false
      description: Response for a created record
    CommonEnumSortDirectionEnum:
      enum:
      - ascending
      - descending
      type: string
      description: Specify sorting direction.
    CommonReferenceDto:
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type: string
          description: Unique Id associated to the referenced object
          nullable: true
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Descriptive name associated to the object
          nullable: true
      additionalProperties: false
      description: Represents a reference to a document in a DB collection
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
