openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code Quote Discount Line Item API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Quote Discount Line Item
paths:
  /api/quotes/{quoteId}/discount-line-item:
    delete:
      tags:
      - Quote Discount Line Item
      summary: Delete the discount line item for a Quote
      operationId: DeleteQuoteDiscountLineItem
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: Success
        '204':
          description: Discount line item did not exist
        '404':
          description: Quote did not exist
    get:
      tags:
      - Quote Discount Line Item
      summary: Get the discount line item for a quote
      operationId: GetQuoteDiscountLineItem
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: Discount line item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteDiscountLineItemDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/QuoteDiscountLineItemDto'
        '204':
          description: Discount line item does not exist
        '404':
          description: Quote did not exist
      x-c4-required-permissions:
      - Orders-Quotes-View Quote
  /api/quote/{quoteId}/discount-line-item:
    put:
      tags:
      - Quote Discount Line Item
      summary: Update the discount line item for a quote
      operationId: UpdateQuoteDiscountLineItem
      parameters:
      - name: quoteId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/QuoteDiscountLineItemUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteDiscountLineItemUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/QuoteDiscountLineItemUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/QuoteDiscountLineItemUpdateDto'
        required: true
      responses:
        '200':
          description: Discount line item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteDiscountLineItemDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/QuoteDiscountLineItemDto'
        '404':
          description: Quote does not exist
      x-c4-mutation: true
      x-c4-required-permissions:
      - Orders-Quotes-Edit Quote
components:
  schemas:
    QuoteDiscountLineItemDto:
      required:
      - accountingDetails
      - amount
      - id
      - isPercentage
      - name
      type: object
      properties:
        id:
          maxLength: 36
          minLength: 36
          type: string
          description: Unique id associated to this entity.
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: The name of the discount line.
        description:
          maxLength: 2000
          minLength: 0
          type: string
          description: The name of the discount line.
          nullable: true
        isPercentage:
          type: boolean
          description: Indicates whether FulcrumProduct.PublicApi.Dto.Quote.DiscountLineItem.DiscountLineItemDto.Amount discount is percentage based (else, it's an absolute amount).
        amount:
          minimum: 0
          type: number
          description: The amount of the discount.
          format: double
        number:
          type: integer
          description: Line number
          format: int32
        accountingDetails:
          $ref: '#/components/schemas/CommonAccountingDetailsDto'
      additionalProperties: false
      description: Represents a discount line item on a quote.
    QuoteDiscountLineItemUpdateDto:
      required:
      - amount
      - isPercentage
      - name
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: The name of the discount line.
        description:
          maxLength: 2000
          minLength: 0
          type: string
          description: The description of the discount line.
          nullable: true
        isPercentage:
          type: boolean
          description: Indicates whether "Amount" value is percentage based or an absolute amount.
        amount:
          minimum: 0
          type: number
          description: The amount of the discount.
          format: double
      additionalProperties: false
      description: Represents a discount line item on a quote.
    CommonAccountingDetailsDto:
      type: object
      properties:
        classId:
          maxLength: 24
          minLength: 24
          type: string
          description: Item class identifier. Please reference /api/item-classes endpoint.
          nullable: true
        incomeAccountId:
          maxLength: 24
          minLength: 24
          type: string
          description: Income account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
          nullable: true
        assetAccountId:
          maxLength: 24
          minLength: 24
          type: string
          description: Asset account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
          nullable: true
        expenseAccountId:
          maxLength: 24
          minLength: 24
          type: string
          description: Expense account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
          nullable: true
        cogsAccountId:
          maxLength: 24
          minLength: 24
          type: string
          description: COGS account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
          nullable: true
      additionalProperties: false
      description: An object that contains all accounting details.
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
