openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code Payment Term API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Payment Term
paths:
  /api/payment-terms:
    post:
      tags:
      - Payment Term
      summary: Create a new payment term
      operationId: CreatePaymentTerm
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CommonPaymentTermCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CommonPaymentTermCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CommonPaymentTermCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CommonPaymentTermCreateDto'
        required: true
      responses:
        '200':
          description: Payment term created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
        '400':
          description: Validation issues with input
      x-c4-mutation: true
      x-c4-required-permissions:
      - System-System Data-Manage System Data
  /api/payment-terms/{id}:
    get:
      tags:
      - Payment Term
      summary: Get a payment term.
      operationId: GetPaymentTerm
      parameters:
      - name: id
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: The payment terms for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonPaymentTermDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CommonPaymentTermDto'
        '404':
          description: Payment terms did not exist
  /api/payment-terms/list:
    post:
      tags:
      - Payment Term
      summary: Find payment terms based on search parameters.
      operationId: ListPaymentTerms
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PaymentTermRequestFindParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTermRequestFindParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/PaymentTermRequestFindParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PaymentTermRequestFindParameters'
      responses:
        '200':
          description: List of payment terms matching the filters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommonPaymentTermDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommonPaymentTermDto'
components:
  schemas:
    CreatedResponseDto:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: The id of the created record
      additionalProperties: false
      description: Response for a created record
    PaymentTermRequestFindParameters:
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Filter payment terms based on their name.
          nullable: true
      additionalProperties: false
      description: Parameters used for searching/finding payment terms.
    CommonPaymentTermDto:
      required:
      - deleted
      - id
      - name
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type: string
          description: Unique id associated to this entity.
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Identifying name. Must be unique.
        dueDays:
          minimum: 0
          type: integer
          description: Due days.
          format: int32
        deleted:
          type: boolean
          description: Indicate if this payment term has been deleted.
      additionalProperties: false
      description: Payment terms definition.
    CommonPaymentTermCreateDto:
      required:
      - dueDays
      - name
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Identifying name. Must be unique.
        dueDays:
          minimum: 0
          type: integer
          description: Due days.
          format: int32
      additionalProperties: false
      description: Payment terms definition.
    CommonEnumSortDirectionEnum:
      enum:
      - ascending
      - descending
      type: string
      description: Specify sorting direction.
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
