openapi: 3.2.0
info:
  title: Fulcrum Public Sales Order Refund Line Item API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Sales Order Refund Line Item
paths:
  /api/sales-orders/{salesOrderId}/refund-line-items:
    post:
      tags:
      - Sales Order Refund Line Item
      summary: Create a refund line item on a sales order
      operationId: CreateSalesOrderRefundLineItem
      parameters:
      - name: salesOrderId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SalesOrderRefundLineItemCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRefundLineItemCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRefundLineItemCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SalesOrderRefundLineItemCreateDto'
        required: true
      responses:
        '200':
          description: Refund line item added to sales order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
        '400':
          description: Validation issues with input
      x-c4-mutation: true
      x-c4-required-permissions:
      - Orders-SalesOrders-Edit Sales Order
  /api/sales-orders/{salesOrderId}/refund-line-items/{lineId}:
    delete:
      tags:
      - Sales Order Refund Line Item
      summary: Delete a specific refund line item for a sales order
      operationId: DeleteSalesOrderRefundLineItem
      parameters:
      - name: salesOrderId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: lineId
        in: path
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      responses:
        '200':
          description: Success
        '204':
          description: Refund line item did not exist
        '404':
          description: Sales order did not exist
  /api/sales-orders/{salesOrderId}/refund-line-items/list:
    post:
      tags:
      - Sales Order Refund Line Item
      summary: Get a list of refund lines items for a sales order
      operationId: ListSalesOrderRefundLineItem
      parameters:
      - name: salesOrderId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: List of refund line items for the given sales order id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderRefundLineItemDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesOrderRefundLineItemDto'
        '404':
          description: The sales order did not exist
      x-c4-required-permissions:
      - Orders-SalesOrders-View Sales Order
  /api/sales-orders/{salesOrderId}/refund-line-items/{lineItemId}:
    put:
      tags:
      - Sales Order Refund Line Item
      summary: Update a specific refund line item for a sales order
      operationId: UpdateSalesOrderRefundLineItem
      parameters:
      - name: salesOrderId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: lineItemId
        in: path
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SalesOrderRefundLineItemUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRefundLineItemUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/SalesOrderRefundLineItemUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SalesOrderRefundLineItemUpdateDto'
        required: true
      responses:
        '200':
          description: Refund line item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderRefundLineItemDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/SalesOrderRefundLineItemDto'
        '404':
          description: Sales order or line items did not exist
      x-c4-mutation: true
      x-c4-required-permissions:
      - Orders-SalesOrders-Edit Sales Order
components:
  schemas:
    SalesOrderRefundLineItemDto:
      required:
      - accountingDetails
      - id
      - name
      - refundAmount
      - refundedLineId
      - refundQuantity
      type: object
      properties:
        id:
          maxLength: 36
          minLength: 36
          type: string
          description: Unique id associated to this entity.
        refundedLineId:
          maxLength: 36
          minLength: 36
          type: string
          description: The related, original line id that was refunded.
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: The line item name.
        description:
          maxLength: 2000
          minLength: 0
          type:
          - string
          - 'null'
          description: The refund line item description.  Defaults to the item's description if none specified.
        refundQuantity:
          minimum: 0
          type: number
          description: The quantity to be refunded.
          format: double
        refundAmount:
          minimum: 0
          type: number
          description: The refund amount.
          format: double
        accountingCodeId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Accounting code key identifier. Please reference /api/accounting-codes endpoint.
        refundReasonCodeId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Refund reason code key identifier. Please reference /api/refund-reason-codes endpoint.
        isReturn:
          type:
          - boolean
          - 'null'
          description: Indicate if a return is expected.
        returnQuantity:
          type:
          - number
          - 'null'
          description: The quantity to be returned.
          format: double
        externalReferences:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/CommonExternalReferenceDto'
          description: Arbitrary key-value-pair like data that can be used to later on search for this line item.
        number:
          type: integer
          description: Line number
          format: int32
        accountingDetails:
          $ref: '#/components/schemas/CommonAccountingDetailsDto'
      additionalProperties: false
      description: Refund line item.
    CommonAccountingDetailsDto:
      type: object
      properties:
        classId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Item class identifier. Please reference /api/item-classes endpoint.
        incomeAccountId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Income account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
        assetAccountId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Asset account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
        expenseAccountId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Expense account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
        cogsAccountId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: COGS account (chart of accounts) key identifier. Please reference /api/chart-of-accounts endpoint.
      additionalProperties: false
      description: An object that contains all accounting details.
    CommonExternalReferenceDto:
      required:
      - externalId
      type: object
      properties:
        type:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          description: Specifies the type of this identifier.
        externalId:
          maxLength: 500
          minLength: 0
          type: string
          description: The external identifier
        displayId:
          maxLength: 500
          minLength: 0
          type:
          - string
          - 'null'
          description: 'The id/number that a human sees. For a quote, this might be ''Q1000''.  If this is null, the display

            will fall back to the ExternalId'
        status:
          type:
          - string
          - 'null'
          description: A status for the external reference
        url:
          type:
          - string
          - 'null'
          description: An external url for the reference
        modifiedUtc:
          type:
          - string
          - 'null'
          description: Date the external reference was modified
          format: date-time
        lastSyncedUtc:
          type:
          - string
          - 'null'
          description: 'Date the external system last successfully synced this reference. Set by integrations

            on successful sync only; null means never synced or that the sync timestamp isn''t

            maintained by the integration.'
          format: date-time
      additionalProperties: false
      description: The external reference for entities that implement FulcrumProduct.Domain.Common.IHasExternalReferences
    SalesOrderRefundLineItemUpdateDto:
      required:
      - refundAmount
      - refundQuantity
      type: object
      properties:
        description:
          maxLength: 2000
          minLength: 0
          type:
          - string
          - 'null'
          description: The refund line item description.
        refundQuantity:
          minimum: 0
          type: number
          description: The quantity to be refunded.
          format: double
        refundAmount:
          minimum: 0
          type: number
          description: The refund amount.
          format: double
        accountingCodeId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Accounting code key identifier. Please reference /api/accounting-codes endpoint.
        refundReasonCodeId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Refund reason code key identifier. Please reference /api/refund-reason-codes endpoint.
        isReturn:
          type:
          - boolean
          - 'null'
          description: Indicate if a return is expected.
        returnQuantity:
          minimum: 0
          type:
          - number
          - 'null'
          description: The quantity to be returned.
          format: double
        externalReferences:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/CommonExternalReferenceDto'
          description: Arbitrary key-value-pair like data that can be used to later on search for this line item.
      additionalProperties: false
      description: Represents a refund line item on a sales order.
    CreatedResponseDto:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: The id of the created record
      additionalProperties: false
      description: Response for a created record
    SalesOrderRefundLineItemCreateDto:
      required:
      - refundAmount
      - refundedLineId
      - refundQuantity
      type: object
      properties:
        description:
          maxLength: 2000
          minLength: 0
          type:
          - string
          - 'null'
          description: The refund line item description.  Defaults to the item's description if none specified.
        refundedLineId:
          maxLength: 36
          minLength: 36
          type: string
          description: The related, original line id that was refunded.
        refundQuantity:
          minimum: 0
          type: number
          description: The quantity to be refunded.
          format: double
        refundAmount:
          minimum: 0
          type: number
          description: The refund amount.
          format: double
        accountingCodeId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Accounting code key identifier. Please reference /api/accounting-codes endpoint.
        refundReasonCodeId:
          maxLength: 24
          minLength: 24
          type:
          - string
          - 'null'
          description: Refund reason code key identifier. Please reference /api/refund-reason-codes endpoint.
        isReturn:
          type:
          - boolean
          - 'null'
          description: Indicate if a return is expected.
        returnQuantity:
          type:
          - number
          - 'null'
          description: The quantity to be returned.
          format: double
        externalReferences:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/CommonExternalReferenceDto'
          description: Arbitrary key-value-pair like data that can be used to later on search for this line item.
      additionalProperties: false
      description: Represents a refund line item on a sales order.
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
