openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code Customer Address API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Customer Address
paths:
  /api/customers/{customerId}/addresses:
    post:
      tags:
      - Customer Address
      summary: Create a new customer address
      operationId: CreateCustomerAddress
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CommonAddressCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CommonAddressCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CommonAddressCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CommonAddressCreateDto'
        required: true
      responses:
        '200':
          description: Customer address created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
        '400':
          description: Validation issues with input
        '404':
          description: Customer with the given id did not exist
      x-c4-mutation: true
      x-c4-required-permissions:
      - Customer-Customers-Edit Customer
  /api/customers/{customerId}/addresses/{customerAddressId}:
    delete:
      tags:
      - Customer Address
      summary: Delete a specific customer address
      operationId: DeleteCustomerAddress
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: customerAddressId
        in: path
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      responses:
        '200':
          description: Success
        '204':
          description: Customer address did not exist
        '404':
          description: The customer did not exist
    get:
      tags:
      - Customer Address
      summary: Get a specific customer address
      operationId: GetCustomerAddress
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: customerAddressId
        in: path
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      responses:
        '200':
          description: The customer address for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAddressDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CustomerAddressDto'
        '404':
          description: Customer did not exist
      x-c4-required-permissions:
      - Customer-Customers-View Customer
    put:
      tags:
      - Customer Address
      summary: Update a specific customer address
      operationId: UpdateCustomerAddress
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: customerAddressId
        in: path
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CustomerAddressUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAddressUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomerAddressUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomerAddressUpdateDto'
        required: true
      responses:
        '200':
          description: The customer address for the given id
        '404':
          description: Customer did not exist
      x-c4-mutation: true
      x-c4-required-permissions:
      - Customer-Customers-Edit Customer
  /api/customers/{customerId}/addresses/list:
    post:
      tags:
      - Customer Address
      summary: Get a list of addresses for a customer
      operationId: ListCustomerAddress
      parameters:
      - name: customerId
        in: path
        description: ''
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: List of addresses for the given customer id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAddressDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAddressDto'
        '404':
          description: The customer did not exist
      x-c4-required-permissions:
      - Customer-Customers-View Customer
components:
  schemas:
    CustomerAddressDto:
      required:
      - address1
      - city
      - id
      - postalCode
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Name of the address (Bob's Shipping, Primary, Reno Warehouse, etc).
          nullable: true
        address1:
          maxLength: 200
          minLength: 1
          type: string
          description: Primary address line.
        address2:
          maxLength: 200
          minLength: 1
          type: string
          description: Second address line.
          nullable: true
        address3:
          maxLength: 200
          minLength: 1
          type: string
          description: Third address line.
          nullable: true
        city:
          maxLength: 200
          minLength: 1
          type: string
          description: Address city
        stateProvince:
          maxLength: 200
          minLength: 1
          type: string
          description: Address state/province.
          nullable: true
        postalCode:
          maxLength: 200
          minLength: 1
          type: string
          description: Postal/zip code.
        country:
          maxLength: 200
          minLength: 1
          type: string
          description: Country identifier.
          nullable: true
        shippingLeadTime:
          minimum: 0
          type: integer
          description: Lead time for shipping contents.
          format: int32
          nullable: true
        primaryBilling:
          type: boolean
          description: Signifies if this is a primary billing address.
        primaryShipping:
          type: boolean
          description: Signifies if this is a primary billing address.
        id:
          maxLength: 36
          minLength: 36
          type: string
          description: Unique id associated to this entity.
        email:
          type: string
          description: Email address
          format: email
          nullable: true
        phone:
          type: string
          description: Associated phone number
          nullable: true
        fax:
          type: string
          description: Associated fax number
          nullable: true
        notes:
          type: string
          description: General notes associated to this customer address
          nullable: true
      additionalProperties: false
      description: Address with additional context for a customer
    CommonAddressCreateDto:
      required:
      - address1
      - city
      - postalCode
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Name of the address (Bob's Shipping, Primary, Reno Warehouse, etc).
          nullable: true
        address1:
          maxLength: 200
          minLength: 1
          type: string
          description: Primary address line.
        address2:
          maxLength: 200
          minLength: 1
          type: string
          description: Second address line.
          nullable: true
        address3:
          maxLength: 200
          minLength: 1
          type: string
          description: Third address line.
          nullable: true
        city:
          maxLength: 200
          minLength: 1
          type: string
          description: Address city
        stateProvince:
          maxLength: 200
          minLength: 1
          type: string
          description: Address state/province.
          nullable: true
        postalCode:
          maxLength: 200
          minLength: 1
          type: string
          description: Postal/zip code.
        country:
          maxLength: 200
          minLength: 1
          type: string
          description: Country identifier.
          nullable: true
        shippingLeadTime:
          minimum: 0
          type: integer
          description: Lead time for shipping contents.
          format: int32
          nullable: true
        primaryBilling:
          type: boolean
          description: Signifies if this is a primary billing address.
        primaryShipping:
          type: boolean
          description: Signifies if this is a primary billing address.
        email:
          type: string
          description: Email address
          format: email
          nullable: true
        phone:
          type: string
          description: Associated phone number
          nullable: true
        fax:
          type: string
          description: Associated fax number
          nullable: true
        notes:
          type: string
          description: General notes associated to this customer address
          nullable: true
      additionalProperties: false
      description: Address with additional context
    CreatedResponseDto:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: The id of the created record
      additionalProperties: false
      description: Response for a created record
    CustomerAddressUpdateDto:
      required:
      - address1
      - city
      - postalCode
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Name of the address (Bob's Shipping, Primary, Reno Warehouse, etc).
          nullable: true
        address1:
          maxLength: 200
          minLength: 1
          type: string
          description: Primary address line.
        address2:
          maxLength: 200
          minLength: 1
          type: string
          description: Second address line.
          nullable: true
        address3:
          maxLength: 200
          minLength: 1
          type: string
          description: Third address line.
          nullable: true
        city:
          maxLength: 200
          minLength: 1
          type: string
          description: Address city
        stateProvince:
          maxLength: 200
          minLength: 1
          type: string
          description: Address state/province.
          nullable: true
        postalCode:
          maxLength: 200
          minLength: 1
          type: string
          description: Postal/zip code.
        country:
          maxLength: 200
          minLength: 1
          type: string
          description: Country identifier.
          nullable: true
        shippingLeadTime:
          minimum: 0
          type: integer
          description: Lead time for shipping contents.
          format: int32
          nullable: true
        primaryBilling:
          type: boolean
          description: Signifies if this is a primary billing address.
        primaryShipping:
          type: boolean
          description: Signifies if this is a primary billing address.
        email:
          type: string
          description: Email address
          format: email
          nullable: true
        phone:
          type: string
          description: Associated phone number
          nullable: true
        fax:
          type: string
          description: Associated fax number
          nullable: true
        notes:
          type: string
          description: General notes associated to this customer address
          nullable: true
      additionalProperties: false
      description: Address with additional context for updating for a customer
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
