openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code Item Customer API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Item Customer
paths:
  /api/items/{itemId}/customers:
    post:
      tags:
      - Item Customer
      summary: Create a new item customer
      operationId: CreateItemCustomer
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ItemCustomerCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ItemCustomerCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ItemCustomerCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ItemCustomerCreateDto'
        required: true
      responses:
        '200':
          description: Item customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
        '400':
          description: Validation issues with input
        '404':
          description: Item with the given id did not exist
      x-c4-mutation: true
      x-c4-required-permissions:
      - ItemsAndInventory-Items-Edit Item
  /api/items/{itemId}/customers/{itemCustomerId}:
    delete:
      tags:
      - Item Customer
      summary: Delete a specific item customer
      operationId: DeleteItemCustomer
      parameters:
      - name: itemId
        in: path
        description: The id of the item to remove a customer from
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: itemCustomerId
        in: path
        description: The id of the item customer to delete
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      responses:
        '200':
          description: Delete successful
        '404':
          description: Item did not exist or no customer existed at the specified id
    put:
      tags:
      - Item Customer
      summary: Update a specific item customer
      operationId: UpdateItemCustomer
      parameters:
      - name: itemId
        in: path
        description: The id of the item to modify customers for
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      - name: itemCustomerId
        in: path
        description: The id of the item customer.
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
      requestBody:
        description: The new data to apply to the given customer detail
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ItemCustomerUpdateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ItemCustomerUpdateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ItemCustomerUpdateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ItemCustomerUpdateDto'
        required: true
      responses:
        '200':
          description: Update successful
        '404':
          description: Item did not exist or no customer existed at the specified id
      x-c4-mutation: true
      x-c4-required-permissions:
      - ItemsAndInventory-Items-Edit Item
  /api/items/{itemId}/customers/list:
    post:
      tags:
      - Item Customer
      summary: Get a list of customers for an item
      operationId: ListItemCustomer
      parameters:
      - name: itemId
        in: path
        description: ''
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: List of customers for the given item id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ItemCustomerDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ItemCustomerDto'
        '404':
          description: The item did not exist
      x-c4-required-permissions:
      - ItemsAndInventory-Items-View Item
components:
  schemas:
    CommonPriceBreakDto:
      required:
      - type
      type: object
      properties:
        quantity:
          type: integer
          description: Indicates at what quantity this price break becomes active.
          format: int32
          nullable: true
        price:
          type: number
          description: The price "per unit" at this price break.
          format: double
          nullable: true
        margin:
          type: number
          description: Margin
          format: double
          nullable: true
        currencyCode:
          type: string
          description: Currency code associated to this price break.
          nullable: true
        vendorId:
          maxLength: 24
          minLength: 24
          type: string
          description: Vendor identifier. Please reference /api/vendors endpoint.
          nullable: true
        customerId:
          maxLength: 24
          minLength: 24
          type: string
          description: Customer identifier. Please reference /api/customers endpoint.
          nullable: true
        customerTierId:
          maxLength: 24
          minLength: 24
          type: string
          description: Customer tier identifier. Please reference /api/customer-tiers endpoint.
          nullable: true
        unitOfMeasureName:
          type: string
          description: The unit of measurement.
          nullable: true
        type:
          $ref: '#/components/schemas/DomainPriceBreaksPriceBreakTypeEnum'
      additionalProperties: false
      description: Price break definition
    ItemCustomerDto:
      required:
      - customerId
      - id
      - priceBreaks
      type: object
      properties:
        id:
          maxLength: 36
          minLength: 36
          type: string
          description: The id of the item-customer association. Use this value for update and delete operations.
        customerId:
          maxLength: 24
          minLength: 24
          type: string
          description: Customer id associated to this entity. Please reference /api/customers endpoint.
        customerItemNumber:
          maxLength: 200
          minLength: 1
          type: string
          description: The item number for this customer.
          nullable: true
        customerItemName:
          maxLength: 200
          minLength: 1
          type: string
          description: The item name for this customer.
          nullable: true
        unitOfMeasureName:
          minLength: 1
          type: string
          description: The unit of measure name. This can be standard unit measurement names (Piece, Square foot, etc) or a custom measurement name.
          nullable: true
        priceBreaks:
          type: array
          items:
            $ref: '#/components/schemas/CommonPriceBreakDto'
          description: Price breaks.
      additionalProperties: false
      description: Customer with additional context for an item.
    ItemCustomerUpdateDto:
      type: object
      properties:
        customerItemNumber:
          maxLength: 200
          minLength: 1
          type: string
          description: The item number for this customer.
          nullable: true
        customerItemName:
          maxLength: 200
          minLength: 1
          type: string
          description: The item name for this customer.
          nullable: true
      additionalProperties: false
      description: Update an item customer association.
    ItemCustomerCreateDto:
      required:
      - customerId
      type: object
      properties:
        customerId:
          maxLength: 24
          minLength: 24
          type: string
          description: Customer id associated to this entity. Please reference /api/customers endpoint.
        customerItemNumber:
          maxLength: 200
          minLength: 1
          type: string
          description: The item number for this customer.
          nullable: true
        customerItemName:
          maxLength: 200
          minLength: 1
          type: string
          description: The item name for this customer.
          nullable: true
      additionalProperties: false
      description: Create a new item customer association.
    CreatedResponseDto:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: The id of the created record
      additionalProperties: false
      description: Response for a created record
    DomainPriceBreaksPriceBreakTypeEnum:
      enum:
      - price
      - margin
      - cost
      - operation
      - shopRate
      type: string
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
