openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code ScrapReport API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: ScrapReport
paths:
  /api/scrap-reports:
    get:
      tags:
      - ScrapReport
      summary: 'Returns scrap entries logged within the supplied date range. Both

        dates are optional; the Domain layer defaults to the prior 90 days

        when neither is supplied.'
      operationId: GetScrapReports
      parameters:
      - name: startDateUtc
        in: query
        description: Inclusive start of the report window (UTC). Defaults to today minus 90 days when omitted.
        schema:
          type: string
          format: date-time
      - name: endDateUtc
        in: query
        description: Exclusive end of the report window (UTC). Defaults to tomorrow when omitted.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Scrap entries within the requested window.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScrapReportEntryDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScrapReportEntryDto'
      x-c4-required-permissions:
      - Jobs-Jobs-View Job
components:
  schemas:
    ScrapReportEntryDto:
      required:
      - dateUtc
      - quantity
      - value
      type: object
      properties:
        item:
          $ref: '#/components/schemas/CommonReferenceDto'
        quantity:
          type: number
          description: Quantity scrapped, in the item's unit of measure.
          format: double
        value:
          type: number
          description: Cost value of the scrapped quantity, in the tenant's primary currency.
          format: double
        operator:
          $ref: '#/components/schemas/CommonReferenceDto'
        operation:
          type: string
          description: Operation name on the job during which the scrap was logged.
          nullable: true
        workCenter:
          $ref: '#/components/schemas/CommonReferenceDto'
        department:
          $ref: '#/components/schemas/CommonReferenceDto'
        equipment:
          $ref: '#/components/schemas/CommonReferenceDto'
        job:
          $ref: '#/components/schemas/CommonReferenceDto'
        dateUtc:
          type: string
          description: UTC timestamp at which the scrap entry was recorded.
          format: date-time
      additionalProperties: false
      description: 'One scrap entry in the scrap report — a quantity of a specific item that

        was scrapped during a specific operation, on a specific job. Aggregated

        from job-tracking activity rather than stored as a top-level entity.'
    CommonReferenceDto:
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type: string
          description: Unique Id associated to the referenced object
          nullable: true
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Descriptive name associated to the object
          nullable: true
      additionalProperties: false
      description: Represents a reference to a document in a DB collection
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
