openapi: 3.0.4
info:
  title: Fulcrum Public Accounting Code Inventory Lot API
  version: v1
servers:
- url: https://api.fulcrumpro.com
tags:
- name: Inventory Lot
paths:
  /api/inventory-lots:
    post:
      tags:
      - Inventory Lot
      summary: Create a new inventory lot.
      operationId: CreateInventoryLot
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/InventoryLotCreateDto'
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryLotCreateDto'
          text/json:
            schema:
              $ref: '#/components/schemas/InventoryLotCreateDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/InventoryLotCreateDto'
        required: true
      responses:
        '200':
          description: Item created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/CreatedResponseDto'
        '400':
          description: Validation issues with input
      x-c4-mutation: true
      x-c4-required-permissions:
      - ItemsAndInventory-Inventory-Adjust Inventory
  /api/inventory-lots/{id}:
    get:
      tags:
      - Inventory Lot
      summary: Get an inventory lot.
      operationId: GetInventoryLot
      parameters:
      - name: id
        in: path
        required: true
        schema:
          maxLength: 24
          minLength: 24
          type: string
      responses:
        '200':
          description: The inventory lot for the given id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryLotDto'
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InventoryLotDto'
        '404':
          description: Inventory lot did not exist
      x-c4-required-permissions:
      - ItemsAndInventory-Items-View Inventory
  /api/inventory-lots/list:
    post:
      tags:
      - Inventory Lot
      summary: Find inventory lots based on search parameters.
      operationId: ListInventoryLot
      parameters:
      - name: Sort.Field
        in: query
        description: Sort field
        schema:
          minLength: 1
          type: string
      - name: Sort.Dir
        in: query
        description: Sort direction
        schema:
          $ref: '#/components/schemas/CommonEnumSortDirectionEnum'
      - name: Skip
        in: query
        description: Number of records to skip.
        schema:
          minimum: 0
          type: integer
          format: int32
      - name: Take
        in: query
        description: Number of records to return (maximum)
        schema:
          maximum: 5000
          minimum: 0
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/InventoryLotRequestFindParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryLotRequestFindParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/InventoryLotRequestFindParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/InventoryLotRequestFindParameters'
      responses:
        '200':
          description: List of inventory lots matching the filters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryLotDto'
            application/problem+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryLotDto'
      x-c4-required-permissions:
      - ItemsAndInventory-Items-View Inventory
components:
  schemas:
    InventoryLotDto:
      required:
      - custom
      - id
      - itemId
      - name
      - system
      type: object
      properties:
        id:
          maxLength: 24
          minLength: 24
          type: string
          description: Unique id associated to this entity.
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: The name of the lot. It is not guaranteed to be unique inventory-wide, but only within an item.
        itemId:
          maxLength: 24
          minLength: 24
          type: string
          description: The item id that is associated to this lot. Please reference /api/items endpoint.
        quantity:
          type: number
          description: Quantity associated to this lot.
          format: double
        system:
          type: boolean
          description: Designates if this is a system-generated lot.
        custom:
          type: boolean
          description: Designates if this item is customized.
        expirationDate:
          type: string
          description: The date that this lot is supposed to expire.
          format: date-time
          nullable: true
      additionalProperties: false
      description: Inventory lot definition.
    InventoryLotCreateDto:
      required:
      - itemId
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: The name of the lot. It is not guaranteed to be unique inventory-wide, but only within an item.
          nullable: true
        itemId:
          maxLength: 24
          minLength: 24
          type: string
          description: The item id that is associated to this lot. Please reference /api/items endpoint.
        expirationDate:
          type: string
          description: The date that this lot is supposed to expire.
          format: date-time
          nullable: true
      additionalProperties: false
      description: Details of the inventory lot to be created.
    InventoryLotRequestFindParameters:
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
          description: Filter lots based on their name.
          nullable: true
        itemIds:
          type: array
          items:
            type: string
          description: Item ids to match. Please reference /api/items endpoint.
          nullable: true
        system:
          type: boolean
          description: Filter by whether the lot is considered a system-generated lot.
          nullable: true
      additionalProperties: false
      description: Parameters used for searching/finding inventory lots.
    CreatedResponseDto:
      required:
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          description: The id of the created record
      additionalProperties: false
      description: Response for a created record
    CommonEnumSortDirectionEnum:
      enum:
      - ascending
      - descending
      type: string
      description: Specify sorting direction.
  securitySchemes:
    bearer:
      type: http
      description: Your API bearer token generated in System Data > Advanced > Public API Setup
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Accounting Code
  tags:
  - Accounting Code
- name: Attachment
  tags:
  - Attachment
  - Attachment Certification
- name: Auth
  tags:
  - Auth
- name: CAPAs
  tags:
  - CAPAs
- name: Chart Of Accounts
  tags:
  - Chart Of Accounts
- name: Company Info
  tags:
  - Company Info
- name: Custom Field
  tags:
  - Custom Field
- name: Customer
  tags:
  - Customer
  - Customer Address
  - Customer Contact
- name: Customer Tier
  tags:
  - Customer Tier
- name: Department
  tags:
  - Department
- name: Equipment
  tags:
  - Equipment
- name: Gauge Code
  tags:
  - Gauge Code
- name: Grade Code
  tags:
  - Grade Code
- name: InProcessTrackingFieldType
  tags:
  - InProcessTrackingFieldType
- name: Inventory
  tags:
  - Inventory
- name: Inventory Event
  tags:
  - Inventory Event
  - Inventory Event Details
- name: Inventory Lot
  tags:
  - Inventory Lot
- name: Inventory Transactions
  tags:
  - Inventory Transactions
- name: Invoice
  tags:
  - Invoice
  - Invoice Deposit Adjustment Line Item
  - Invoice Deposit Line Item
  - Invoice Discount Line Item
  - Invoice Fee Line Item
  - Invoice Line Item
  - Invoice Note
  - Invoice Part Line Item
  - Invoice Refund Line Item
  - Invoice Shipping Charge Line Item
  - Invoice Tax Line Item
- name: Item
  tags:
  - Item
  - Item Custom Fields
  - Item Customer
  - Item Material Vendor
  - Item PriceBreaks
  - Item Routing
  - Item Vendor
- name: Item Category
  tags:
  - Item Category
- name: Item Class
  tags:
  - Item Class
- name: Item Tag
  tags:
  - Item Tag
- name: Job
  tags:
  - Job
  - Job Custom Fields
  - Job Full Routing
  - Job Part Line Item Full Routing
  - Job Item To Make
  - Job Item To Make Operation
  - Job Operation
- name: Job Tracking Timers
  tags:
  - Job Tracking Timers
- name: Location
  tags:
  - Location
- name: Material
  tags:
  - Material
  - Material Vendor
- name: Material Code
  tags:
  - Material Code
- name: NCRs
  tags:
  - NCRs
- name: Note
  tags:
  - Note
- name: Operation
  tags:
  - Operation
- name: Payment Term
  tags:
  - Payment Term
- name: Purchase Order
  tags:
  - Purchase Order
  - Purchase Order Custom Fields
  - Purchase Order Discount Line Item
  - Purchase Order Fee Line Item
  - Purchase Order Line Item
  - Purchase Order Outside Processing Line Item
  - Purchase Order Part Line Item
  - Purchase Order Tax Line Item
  - Purchase Order Vendor Credit Line Item
- name: Quote
  tags:
  - Quote
  - Quote Custom Fields
  - Quote Discount Line Item
  - Quote Fee Line Item
  - Quote Part Line Item
  - Quote Part Line Item Custom Fields
  - Quote Part Line Item Full Routing
  - Quote Tax Line Item
- name: Receiving
  tags:
  - Receiving Receipt
  - Receiving Receipt Line Item
- name: Refund Reason Code
  tags:
  - Refund Reason Code
- name: Reporting
  tags:
  - Reporting
- name: Sales Order
  tags:
  - Sales Order
  - Sales Order Blanket Line Item
  - Sales Order Custom Fields
  - Sales Order Discount Line Item
  - Sales Order Fee Line Item
  - Sales Order Line Item
  - Sales Order Part Line Item
  - Sales Order Part Line Item Custom Fields
  - Sales Order Part Line Item Full Routing
  - Sales Order Refund Line Item
  - Sales Order Shipping Charge Line Item
  - Sales Order Tax Line Item
- name: ScrapReport
  tags:
  - ScrapReport
- name: Shape Code
  tags:
  - Shape Code
- name: Shipment Line Items (V3)
  tags:
  - Shipment Line Items (V3)
- name: Shipment
  tags:
  - Shipment Custom Fields
- name: Shipments
  tags:
  - Shipments
- name: Shipping Method
  tags:
  - Shipping Method
- name: Tag
  tags:
  - Tag
- name: Tax Rate
  tags:
  - Tax Rate
- name: Time Clock Timers
  tags:
  - Time Clock Timers
- name: Timer
  tags:
  - Timer
- name: User
  tags:
  - User
  - User Status
- name: Vendor
  tags:
  - Vendor
  - Vendor Address
  - Vendor Contact
- name: Work Order
  tags:
  - Work Order
- name: WorkCenter
  tags:
  - WorkCenter
