{
  "openapi": "3.0.4",
  "info": {
    "title": "Fulcrum PublicAPI",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fulcrumpro.com"
    }
  ],
  "paths": {
    "/api/accounting-codes": {
      "post": {
        "tags": [
          "Accounting Code"
        ],
        "summary": "Create an accounting code",
        "operationId": "CreateAccountingCode",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateBaseDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateBaseDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateBaseDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateBaseDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Accounting code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              }
            }
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "System-System Data-Manage System Data"
        ]
      }
    },
    "/api/accounting-codes/{id}": {
      "get": {
        "tags": [
          "Accounting Code"
        ],
        "summary": "Get an accounting code.",
        "operationId": "GetAccountingCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The accounting code for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDto"
                }
              }
            }
          },
          "404": {
            "description": "Accounting code did not exist"
          }
        }
      }
    },
    "/api/accounting-codes/list": {
      "post": {
        "tags": [
          "Accounting Code"
        ],
        "summary": "Find accounting codes based on search parameters.",
        "operationId": "ListAccountingCode",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of accounting codes matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/attachments": {
      "post": {
        "tags": [
          "Attachment"
        ],
        "summary": "Create an attachment",
        "operationId": "CreateAttachment",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "Detail.IsNoteAttachment",
                  "File"
                ],
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "description": "The file itself",
                    "format": "binary"
                  },
                  "Detail.Owner.Type": {
                    "$ref": "#/components/schemas/CommonEnumOwnerTypeCreateEnum"
                  },
                  "Detail.Owner.Id": {
                    "maxLength": 36,
                    "minLength": 24,
                    "type": "string",
                    "description": "The primary owner id of this attachment."
                  },
                  "Detail.Description": {
                    "maxLength": 200,
                    "minLength": 1,
                    "type": "string",
                    "description": "File description"
                  },
                  "Detail.IsNoteAttachment": {
                    "type": "boolean",
                    "description": "Indicates whether this attachment is bound to a note."
                  },
                  "Detail.Parent.Type": {
                    "$ref": "#/components/schemas/CommonEnumOwnerTypeCreateEnum"
                  },
                  "Detail.Parent.Id": {
                    "maxLength": 36,
                    "minLength": 24,
                    "type": "string",
                    "description": "The primary owner id of this attachment."
                  },
                  "Detail.Metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": "Metadata to associate to the attachment."
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                },
                "Detail.Owner.Type": {
                  "style": "form"
                },
                "Detail.Owner.Id": {
                  "style": "form"
                },
                "Detail.Description": {
                  "style": "form"
                },
                "Detail.IsNoteAttachment": {
                  "style": "form"
                },
                "Detail.Parent.Type": {
                  "style": "form"
                },
                "Detail.Parent.Id": {
                  "style": "form"
                },
                "Detail.Metadata": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/attachments/remote": {
      "post": {
        "tags": [
          "Attachment"
        ],
        "summary": "Create an attachment based on a remote data endpoint.",
        "operationId": "CreateRemoteAttachment",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRemoteCreateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRemoteCreateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRemoteCreateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRemoteCreateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/attachments/{attachmentId}": {
      "delete": {
        "tags": [
          "Attachment"
        ],
        "summary": "Delete a specific attachment",
        "operationId": "DeleteAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Attachment did not exist"
          },
          "410": {
            "description": "Attachment record had an invalid Id value"
          }
        }
      },
      "get": {
        "tags": [
          "Attachment"
        ],
        "summary": "Get a specific attachment",
        "operationId": "GetAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The attachment for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentDto"
                }
              }
            }
          },
          "404": {
            "description": "Attachment did not exist"
          }
        }
      }
    },
    "/api/attachments/{attachmentId}/download": {
      "get": {
        "tags": [
          "Attachment"
        ],
        "summary": "Download a specific attachment",
        "operationId": "DownloadAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The attachment for the given id"
          },
          "404": {
            "description": "Attachment did not exist"
          }
        }
      }
    },
    "/api/attachments/download": {
      "post": {
        "tags": [
          "Attachment"
        ],
        "summary": "Download attachment(s) for a given filter in ZIP format",
        "operationId": "DownloadAttachments",
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRequestFindParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRequestFindParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRequestFindParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRequestFindParameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The attachments for the given filter"
          },
          "400": {
            "description": "File extension not supported"
          },
          "404": {
            "description": "No attachments exist"
          }
        }
      }
    },
    "/api/attachments/list": {
      "post": {
        "tags": [
          "Attachment"
        ],
        "summary": "Find attachments based on search parameters.",
        "operationId": "ListAttachment",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRequestFindParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRequestFindParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRequestFindParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRequestFindParameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of attachments matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttachmentDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttachmentDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/attachments/certification": {
      "post": {
        "tags": [
          "Attachment Certification"
        ],
        "summary": "Create a certification attachment",
        "operationId": "CreateCertificationAttachment",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "File"
                ],
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "description": "The file itself",
                    "format": "binary"
                  },
                  "Detail.Owner.Type": {
                    "$ref": "#/components/schemas/CommonEnumOwnerTypeCertificationEnum"
                  },
                  "Detail.Owner.Id": {
                    "maxLength": 36,
                    "minLength": 24,
                    "type": "string",
                    "description": "The primary owner id of this attachment."
                  },
                  "Detail.Description": {
                    "maxLength": 200,
                    "minLength": 1,
                    "type": "string",
                    "description": "File description"
                  },
                  "Detail.Metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": "Metadata to associate to the attachment."
                  },
                  "Detail.LotId": {
                    "maxLength": 24,
                    "minLength": 24,
                    "type": "string",
                    "description": "Lot id."
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                },
                "Detail.Owner.Type": {
                  "style": "form"
                },
                "Detail.Owner.Id": {
                  "style": "form"
                },
                "Detail.Description": {
                  "style": "form"
                },
                "Detail.Metadata": {
                  "style": "form"
                },
                "Detail.LotId": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/validate": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get details about a token used to authenticate the request",
        "operationId": "GetValidate",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthValidateResultDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthValidateResultDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/capas/{capaId}": {
      "get": {
        "tags": [
          "CAPAs"
        ],
        "summary": "Get a specific CAPA by id.",
        "operationId": "GetCapa",
        "parameters": [
          {
            "name": "capaId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The CAPA for the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CAPACapaDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CAPACapaDto"
                }
              }
            }
          },
          "404": {
            "description": "A CAPA with that id does not exist."
          }
        },
        "x-c4-required-permissions": [
          "Quality-CAPA-View CAPA"
        ]
      }
    },
    "/api/capas/list": {
      "post": {
        "tags": [
          "CAPAs"
        ],
        "summary": "Finds CAPAs based on search parameters",
        "operationId": "ListCAPA",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CAPARequestCapaListParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CAPARequestCapaListParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CAPARequestCapaListParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CAPARequestCapaListParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DtoPagedResultDtoCAPACapaDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/DtoPagedResultDtoCAPACapaDto"
                }
              }
            }
          }
        },
        "x-c4-required-permissions": [
          "Quality-CAPA-View CAPA"
        ]
      }
    },
    "/api/chart-of-accounts/{id}": {
      "get": {
        "tags": [
          "Chart Of Accounts"
        ],
        "summary": "Get an account class.",
        "operationId": "GetChartOfAccounts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The account for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDto"
                }
              }
            }
          },
          "404": {
            "description": "Account did not exist"
          }
        }
      }
    },
    "/api/chart-of-accounts/list": {
      "post": {
        "tags": [
          "Chart Of Accounts"
        ],
        "summary": "Find accounts based on search parameters.",
        "operationId": "ListChartOfAccounts",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of accounts matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/companies/{companyId}": {
      "get": {
        "tags": [
          "Company Info"
        ],
        "summary": "Get info for a specific company.",
        "operationId": "GetCompanyInfo",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The info for the given company id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfoDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfoDto"
                }
              }
            }
          },
          "404": {
            "description": "Company did not exist"
          }
        }
      }
    },
    "/api/companies/list": {
      "post": {
        "tags": [
          "Company Info"
        ],
        "summary": "Find company information based on search parameters.",
        "operationId": "ListCompanyInfo",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyInfoRequestFindParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyInfoRequestFindParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyInfoRequestFindParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyInfoRequestFindParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of company information sets matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyInfoDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyInfoDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/custom-fields/{id}": {
      "get": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Get a custom field.",
        "operationId": "GetCustomField",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The custom field for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDto"
                }
              }
            }
          },
          "404": {
            "description": "Custom field did not exist"
          }
        }
      }
    },
    "/api/custom-fields/list": {
      "post": {
        "tags": [
          "Custom Field"
        ],
        "summary": "Find custom fields based on search parameters.",
        "operationId": "ListCustomField",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldRequestFindParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldRequestFindParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldRequestFindParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldRequestFindParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of custom fields matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/customers": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Create a new customer",
        "operationId": "CreateCustomer",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Validation issues with input"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "Customer-Customers-Edit Customer"
        ]
      }
    },
    "/api/customers/{customerId}": {
      "delete": {
        "tags": [
          "Customer"
        ],
        "summary": "Delete a specific customer",
        "operationId": "DeleteCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Customer did not exist"
          }
        }
      },
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Get a specific customer",
        "operationId": "GetCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              }
            }
          },
          "404": {
            "description": "Customer did not exist"
          }
        },
        "x-c4-required-permissions": [
          "Customer-Customers-View Customer"
        ]
      },
      "patch": {
        "tags": [
          "Customer"
        ],
        "summary": "Partially update a customer",
        "operationId": "PatchCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              }
            }
          },
          "404": {
            "description": "Customer did not exist"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "Customer-Customers-Edit Customer"
        ]
      },
      "put": {
        "tags": [
          "Customer"
        ],
        "summary": "Update a specific customer",
        "operationId": "UpdateCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              }
            }
          },
          "404": {
            "description": "Customer did not exist"
          }
        }
      }
    },
    "/api/customers/list": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Find customers based on search parameters.",
        "operationId": "ListCustomer",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequestFindParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequestFindParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequestFindParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequestFindParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of customers matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerDto"
                  }
                }
              }
            }
          }
        },
        "x-c4-required-permissions": [
          "Customer-Customers-View Customer"
        ]
      }
    },
    "/api/customer-tiers/{id}": {
      "get": {
        "tags": [
          "Customer Tier"
        ],
        "summary": "Get a customer tier.",
        "operationId": "GetCustomerTier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer tier for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTierDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTierDto"
                }
              }
            }
          },
          "404": {
            "description": "Customer tier did not exist"
          }
        },
        "x-c4-required-permissions": [
          "Customer-Customer Tiers-View Customer Tier"
        ]
      }
    },
    "/api/customer-tiers/list": {
      "post": {
        "tags": [
          "Customer Tier"
        ],
        "summary": "Find customer tiers based on search parameters.",
        "operationId": "ListCustomerTier",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTierRequestFindParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTierRequestFindParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTierRequestFindParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTierRequestFindParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of customer tiers matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerTierDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerTierDto"
                  }
                }
              }
            }
          }
        },
        "x-c4-required-permissions": [
          "Customer-Customer Tiers-View Customer Tier"
        ]
      }
    },
    "/api/customers/{customerId}/addresses": {
      "post": {
        "tags": [
          "Customer Address"
        ],
        "summary": "Create a new customer address",
        "operationId": "CreateCustomerAddress",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CommonAddressCreateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommonAddressCreateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommonAddressCreateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommonAddressCreateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer address created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Validation issues with input"
          },
          "404": {
            "description": "Customer with the given id did not exist"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "Customer-Customers-Edit Customer"
        ]
      }
    },
    "/api/customers/{customerId}/addresses/{customerAddressId}": {
      "delete": {
        "tags": [
          "Customer Address"
        ],
        "summary": "Delete a specific customer address",
        "operationId": "DeleteCustomerAddress",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          },
          {
            "name": "customerAddressId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Customer address did not exist"
          },
          "404": {
            "description": "The customer did not exist"
          }
        }
      },
      "get": {
        "tags": [
          "Customer Address"
        ],
        "summary": "Get a specific customer address",
        "operationId": "GetCustomerAddress",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          },
          {
            "name": "customerAddressId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer address for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAddressDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAddressDto"
                }
              }
            }
          },
          "404": {
            "description": "Customer did not exist"
          }
        },
        "x-c4-required-permissions": [
          "Customer-Customers-View Customer"
        ]
      },
      "put": {
        "tags": [
          "Customer Address"
        ],
        "summary": "Update a specific customer address",
        "operationId": "UpdateCustomerAddress",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          },
          {
            "name": "customerAddressId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAddressUpdateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAddressUpdateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAddressUpdateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerAddressUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer address for the given id"
          },
          "404": {
            "description": "Customer did not exist"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "Customer-Customers-Edit Customer"
        ]
      }
    },
    "/api/customers/{customerId}/addresses/list": {
      "post": {
        "tags": [
          "Customer Address"
        ],
        "summary": "Get a list of addresses for a customer",
        "operationId": "ListCustomerAddress",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of addresses for the given customer id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerAddressDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerAddressDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The customer did not exist"
          }
        },
        "x-c4-required-permissions": [
          "Customer-Customers-View Customer"
        ]
      }
    },
    "/api/customers/{customerId}/contacts": {
      "post": {
        "tags": [
          "Customer Contact"
        ],
        "summary": "Create a new customer contact",
        "operationId": "CreateCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactCreateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactCreateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactCreateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactCreateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Validation issues with input"
          },
          "404": {
            "description": "Customer with the given id did not exist"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "Customer-Customers-Edit Customer"
        ]
      }
    },
    "/api/customers/{customerId}/contacts/{contactId}": {
      "delete": {
        "tags": [
          "Customer Contact"
        ],
        "summary": "Delete a specific customer contact",
        "operationId": "DeleteCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The id of the customer to modify contacts for",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "The id of the customer contact.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Customer contact did not exist"
          },
          "404": {
            "description": "The customer did not exist"
          }
        }
      },
      "get": {
        "tags": [
          "Customer Contact"
        ],
        "summary": "Get a specific customer contact",
        "operationId": "GetCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The id of the customer to modify contacts for",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "The id of the customer contact.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer contact for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerContactDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerContactDto"
                }
              }
            }
          },
          "404": {
            "description": "Customer or contact did not exist"
          }
        },
        "x-c4-required-permissions": [
          "Customer-Customers-View Customer"
        ]
      },
      "put": {
        "tags": [
          "Customer Contact"
        ],
        "summary": "Update a specific customer contact",
        "operationId": "UpdateCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "The id of the customer to modify contacts for",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "The id of the customer contact.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new data to apply to the given index",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactUpdateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactUpdateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactUpdateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerContactUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The customer for the given id"
          },
          "404": {
            "description": "Customer did not exist or no contact existed at the specified index"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "Customer-Customers-Edit Customer"
        ]
      }
    },
    "/api/customers/{customerId}/contacts/list": {
      "post": {
        "tags": [
          "Customer Contact"
        ],
        "summary": "Get a list of contacts for a customer",
        "operationId": "ListCustomerContact",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts for the given customer id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerContactDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerContactDto"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The customer did not exist"
          }
        },
        "x-c4-required-permissions": [
          "Customer-Customers-View Customer"
        ]
      }
    },
    "/api/departments": {
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Create a department.",
        "operationId": "CreateDepartment",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentCreateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentCreateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentCreateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentCreateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Department created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Validation issues with input"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "System-System Data-Manage System Data"
        ]
      }
    },
    "/api/departments/{id}": {
      "get": {
        "tags": [
          "Department"
        ],
        "summary": "Get a department.",
        "operationId": "GetDepartment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The department for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentDto"
                }
              }
            }
          },
          "404": {
            "description": "Department did not exist"
          }
        },
        "x-c4-required-permissions": [
          "Scheduling-Schedule-View Schedule"
        ]
      },
      "put": {
        "tags": [
          "Department"
        ],
        "summary": "Update a department.",
        "operationId": "UpdateDepartment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentUpdateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentUpdateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentUpdateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated department",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/DepartmentDto"
                }
              }
            }
          },
          "400": {
            "description": "Validation issues with input"
          },
          "404": {
            "description": "Department did not exist"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "System-System Data-Manage System Data"
        ]
      }
    },
    "/api/departments/list": {
      "post": {
        "tags": [
          "Department"
        ],
        "summary": "Find departments based on search parameters.",
        "operationId": "ListDepartment",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentRequestFindParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentRequestFindParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentRequestFindParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentRequestFindParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of departments matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DepartmentDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DepartmentDto"
                  }
                }
              }
            }
          }
        },
        "x-c4-required-permissions": [
          "Scheduling-Schedule-View Schedule"
        ]
      }
    },
    "/api/equipment": {
      "post": {
        "tags": [
          "Equipment"
        ],
        "summary": "Create a piece of equipment.",
        "operationId": "CreateEquipment",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentCreateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentCreateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentCreateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentCreateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Equipment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Validation issues with input"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "System-System Data-Manage System Data"
        ]
      }
    },
    "/api/equipment/{id}": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "Get a piece of equipment.",
        "operationId": "GetEquipment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The equipment for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentDto"
                }
              }
            }
          },
          "404": {
            "description": "Equipment did not exist"
          }
        },
        "x-c4-required-permissions": [
          "Scheduling-Schedule-View Schedule"
        ]
      },
      "put": {
        "tags": [
          "Equipment"
        ],
        "summary": "Update a piece of equipment.",
        "operationId": "UpdateEquipment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentUpdateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentUpdateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentUpdateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated equipment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentDto"
                }
              }
            }
          },
          "400": {
            "description": "Validation issues with input"
          },
          "404": {
            "description": "Equipment did not exist"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "System-System Data-Manage System Data"
        ]
      }
    },
    "/api/equipment/list": {
      "post": {
        "tags": [
          "Equipment"
        ],
        "summary": "Find equipment based on search parameters.",
        "operationId": "ListEquipment",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentRequestFindParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentRequestFindParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentRequestFindParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EquipmentRequestFindParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of equipment matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EquipmentDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EquipmentDto"
                  }
                }
              }
            }
          }
        },
        "x-c4-required-permissions": [
          "Scheduling-Schedule-View Schedule"
        ]
      }
    },
    "/api/gauge-codes/{id}": {
      "get": {
        "tags": [
          "Gauge Code"
        ],
        "summary": "Get a gauge code.",
        "operationId": "GetGaugeCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The gauge code for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDto"
                }
              }
            }
          },
          "404": {
            "description": "Gauge code did not exist"
          }
        }
      }
    },
    "/api/gauge-codes/list": {
      "post": {
        "tags": [
          "Gauge Code"
        ],
        "summary": "Find gauge codes based on search parameters.",
        "operationId": "ListGaugeCode",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of gauge codes matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/grade-codes/{id}": {
      "get": {
        "tags": [
          "Grade Code"
        ],
        "summary": "Get a grade code.",
        "operationId": "GetGradeCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The grade code for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDto"
                }
              }
            }
          },
          "404": {
            "description": "Grade code did not exist"
          }
        }
      }
    },
    "/api/grade-codes/list": {
      "post": {
        "tags": [
          "Grade Code"
        ],
        "summary": "Find grade codes based on search parameters.",
        "operationId": "ListGradeCode",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequestFindParametersBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of grade codes matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/in-process-tracking-field-types/{id}": {
      "get": {
        "tags": [
          "InProcessTrackingFieldType"
        ],
        "summary": "Get an in process tracking field type",
        "operationId": "GetInProcessTrackingFieldType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 24,
              "minLength": 24,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The in process tracking field type for the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InProcessTrackingFieldTypeDto"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/InProcessTrackingFieldTypeDto"
                }
              }
            }
          },
          "404": {
            "description": "In process tracking field type did not exist"
          }
        }
      }
    },
    "/api/in-process-tracking-field-types": {
      "post": {
        "tags": [
          "InProcessTrackingFieldType"
        ],
        "summary": "Lists in process tracking field types",
        "operationId": "ListInProcessTrackingFieldType",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/InProcessTrackingFieldTypeRequestFindParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InProcessTrackingFieldTypeRequestFindParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InProcessTrackingFieldTypeRequestFindParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InProcessTrackingFieldTypeRequestFindParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The in process tracking field types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InProcessTrackingFieldTypeDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InProcessTrackingFieldTypeDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/inventory/list": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Find inventory based on search parameters.",
        "operationId": "ListInventory",
        "parameters": [
          {
            "name": "Sort.Field",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Sort.Dir",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "$ref": "#/components/schemas/CommonEnumSortDirectionEnum"
            }
          },
          {
            "name": "Skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Take",
            "in": "query",
            "description": "Number of records to return (maximum)",
            "schema": {
              "maximum": 5000,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryRequestFindParameters"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryRequestFindParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryRequestFindParameters"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryRequestFindParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of locations matching the filters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryDto"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InventoryDto"
                  }
                }
              }
            }
          }
        },
        "x-c4-required-permissions": [
          "ItemsAndInventory-Items-View Inventory"
        ]
      }
    },
    "/api/inventory/byItem": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Returns on hand counts by item.  Excludes reserved inventory counts by default, but can be included by passing in the ```includeReserved``` query parameter.\nNOTE: If the response does not contain an item identifier, it means there is no quantity on hand.",
        "operationId": "OnHandByItem",
        "parameters": [
          {
            "name": "includeReserved",
            "in": "query",
            "description": "Whether to included reserved inventory into the counts",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number",
                    "format": "double"
                  }
                }
              },
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            }
          }
        },
        "x-c4-required-permissions": [
          "ItemsAndInventory-Items-View Inventory"
        ]
      }
    },
    "/api/inventory/override": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Override an inventory's quantity.",
        "operationId": "OverrideInventory",
        "requestBody": {
          "description": "The parameters for the request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryOverrideDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryOverrideDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryOverrideDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryOverrideDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inventory override was successfully processed"
          },
          "400": {
            "description": "Validation issues with the request"
          },
          "500": {
            "description": "An unspecified error occurred with the request"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "ItemsAndInventory-Inventory-Adjust Inventory"
        ]
      }
    },
    "/api/inventory/pick": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Pick inventory against a specific item.",
        "operationId": "PickInventory",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryPickDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryPickDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryPickDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryPickDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Inventory transaction processed"
          },
          "400": {
            "description": "Validation issues with input"
          }
        },
        "x-c4-mutation": true,
        "x-c4-required-permissions": [
          "ItemsAndInventory-Inventory-Adjust Inventory"
        ]
      }
    },
    "/api/inventory/availableByItem": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Returns quantity available by item. This is the on hand + incoming supply - demand.\nNOTE: If the response does not contain an item identifier, it means there is no quantity on hand.",
[...]
